In [ ]:
#import the warnings.
import warnings
warnings.filterwarnings("ignore")


#import the useful / required libraries
import pandas as pd 
import numpy as np
import matplotlib.pyplot as plt , seaborn as  sns
%matplotlib inline

Import the data set

In [ ]:
application = pd.read_csv("C:/Users/anvir/OneDrive/Desktop/Upgrad/Credit EDA Case Study/application_data.csv")

pervious_app = pd.read_csv("C:/Users/anvir/OneDrive/Desktop/Upgrad/Credit EDA Case Study/previous_application.csv")

In [ ]:
application.head()

In [ ]:
#pervious_app.head()

# Data Understanding - Look at the data and get to know the data types accordingly .

In [ ]:
application.info()

In [ ]:
application.shape

There are 307511 data points and 122 attributes.

In [ ]:
application.describe()

- we have 106 Numerical data type


# Numerical  / Non catergorical data - Statistical ananlysis

Ananlyze the categorical attributes

In [ ]:
application.select_dtypes(include = "object").columns

In [ ]:
# Checking number of categorical variables
len(application.select_dtypes(include = "object").columns)

There are 16 categorical variables. 


- Check the relative frequecny of each categorical attributes

In [ ]:
application['NAME_CONTRACT_TYPE'].value_counts()/307511*100

In [ ]:
application['CODE_GENDER'].value_counts()/307511*100

In [ ]:
application['FLAG_OWN_CAR'].value_counts()/307511*100

In [ ]:
application['FLAG_OWN_REALTY'].value_counts()/307511*100

In [ ]:
application['NAME_TYPE_SUITE'].value_counts()/307511*100

In [ ]:
application['NAME_INCOME_TYPE'].value_counts()/307511*100

In [ ]:
application['NAME_EDUCATION_TYPE'].value_counts()/307511*100

In [ ]:
application['NAME_FAMILY_STATUS'].value_counts()/307511*100

In [ ]:
application['NAME_HOUSING_TYPE'].value_counts()/307511*100

In [ ]:
application['OCCUPATION_TYPE'].value_counts()/307511*100

In [ ]:
application['WEEKDAY_APPR_PROCESS_START'].value_counts()/307511*100

In [ ]:
application['ORGANIZATION_TYPE'].value_counts()/307511*100

In [ ]:
application['FONDKAPREMONT_MODE'].value_counts()/307511*100

In [ ]:
application['HOUSETYPE_MODE'].value_counts()/307511*100

In [ ]:
application['WALLSMATERIAL_MODE'].value_counts()/307511*100

In [ ]:
application['EMERGENCYSTATE_MODE'].value_counts()/307511*100

Analyse the numeric attributes

In [ ]:
application.select_dtypes(include=["int64","float64"]).columns

In [ ]:
# chcek the varibale count 
len(application.select_dtypes(include=["int64","float64"]).columns)

In [ ]:
application.select_dtypes(include=["int64","float64"])

Obeservation : 
    
    - In Categorical varialbes - few missign data do exsits  - ( not sure how much though at this stage ) 
    - 16 categorical and 106 numeric variables are found 
    - Looking at the data and their data type , we donot see any incorrect data type / no need to change any attributes data type.

Check for Missing values

In [ ]:
application.isnull().values.sum()

#application.isnull().values.any()

9152465 - is the total number of Null values presnt in the data set.

In [ ]:
# get th lsit of the varibales having null value 

application.columns[application.isnull().values.any()]

In [ ]:
# number of varibales count having null values 
len(application.columns[application.isnull().any()])

There are totally 67 columns having one or more NULL values in the data

# Chcek for the missing value percantage in these columns ( from above)

In [ ]:
# 1. checek for the null value count 
# 2. CAlcaluate the % of missing value 
# 3. Chcek for each column name , what is the number of mmissing value  and its percentage. 


null_count = application.isnull().sum()
null_percentage = round((null_count/application.shape[0])*100, 2)


null_application = pd.DataFrame({'column_name' : application.columns,'null_count' : null_count,'null_percentage': null_percentage})
null_application.reset_index(drop = True, inplace = True)

null_application.sort_values(by = 'null_percentage', ascending = False)

#### Oberavtions : 
    
  After looking at the missing values ( in both data type ): We see 
     - Few columns have been seen having more than 50 % missing values. 
        
Looking at the table above  : we can conclude that more than 40 % of misisng value columns can be dropped from the data set.

In [ ]:
# remove the columns , where we see more than 40 % of missing value and assign that to a new data frame . 



# 1. get the list of columns which have more than 30 % of missing value -: we see 49 columns having missisng values ( chcek below code ) 
# 2. Than drop only those columns and assign it to a new data set for further annalysis 

col_to_dele =  null_application[null_application['null_percentage'] > 40].column_name.to_list()

len(col_to_dele)

#col_to_dele

- There are totally  49  columns to be removed. Delete them from main dataframe.

In [ ]:
application.drop(columns = col_to_dele, inplace = True)

In [ ]:
application.shape

Obeservation : After dropping the columns ; we have 73 columns present on the data set

In [ ]:
# create a new data frame with missing values percentages below 40%

df =  null_application[null_application['null_percentage'] < 40]

In [ ]:
df.sort_values(by = 'null_percentage')

Obeservation : We see  OCCUPATION_TYPE value still has 31 % missign value 

- Let analyse this attribute to look at the categories deeply

In [ ]:
application['OCCUPATION_TYPE'].value_counts(normalize=True)*100

In [ ]:
# plot the values for visualizations 

plt.figure(figsize = (10,5))
sns.countplot(data = application, x = "OCCUPATION_TYPE")
plt.xticks(rotation = 90)
plt.show()

Observations : 

    - Laborers has the highest number of loan applicants
    - For imputation, 
        - Either fill the value has Laborers ; since it is hightest number of laon applicant value 
        - it would be better to leave the data as it is since missing values is 31.35% and we wont impute with any value , keep it in'Unknow'category for ease of analsysis

In [ ]:
# Not imputing with any values  - So Impute NULL values with Unknown category

application['OCCUPATION_TYPE'].fillna(value = 'Unknown', inplace = True)

Analysis of EXT_SOURCE_3 column

In [ ]:
application.EXT_SOURCE_3.value_counts()

In [ ]:
# Analysis of EXT_SOURCE_3 column ; It has 19.83% of missing value 
# this is a non - categorical attribute 
# so we will plot box plt to observe


sns.boxplot(application['EXT_SOURCE_3'])
plt.show()

In [ ]:
# Getting percentile values for the attribute

application['EXT_SOURCE_3'].describe()

# application['EXT_SOURCE_3'].quantile(q = [0.25,0.5,0.75,1])

In [ ]:
# check for mean 

application['EXT_SOURCE_3'].mean()

In [ ]:
# chcek for mode 

application['EXT_SOURCE_3'].mode()

In [ ]:
# chcek for median 

application['EXT_SOURCE_3'].median()


Obeservation : 
    
    - Mean VAlue is 0.51 
    - Mode value is 0.75
    - Median value is 0.53
    
    - Mean and Median are closer and we can use this to imput the missing values ( if necessary ) 
    
    - Here since the missing vaue is 19% , we would leave the data as such , rather than  imputation of the value

We see their are 6 coulmns with same misisgn value ; i.e 13.5% and these are the non categorical varibales

In [ ]:
application[['AMT_REQ_CREDIT_BUREAU_YEAR',
                'AMT_REQ_CREDIT_BUREAU_QRT',
                'AMT_REQ_CREDIT_BUREAU_MON',
                'AMT_REQ_CREDIT_BUREAU_WEEK',
                'AMT_REQ_CREDIT_BUREAU_DAY',
                'AMT_REQ_CREDIT_BUREAU_HOUR']].describe()

In [ ]:
application[['AMT_REQ_CREDIT_BUREAU_YEAR',
                'AMT_REQ_CREDIT_BUREAU_QRT',
                'AMT_REQ_CREDIT_BUREAU_MON',
                'AMT_REQ_CREDIT_BUREAU_WEEK',
                'AMT_REQ_CREDIT_BUREAU_DAY',
                'AMT_REQ_CREDIT_BUREAU_HOUR']].quantile(q = [0.25,0.5,0.75,1])

In [ ]:
# chcek for the mode

application[['AMT_REQ_CREDIT_BUREAU_YEAR',
                'AMT_REQ_CREDIT_BUREAU_QRT',
                'AMT_REQ_CREDIT_BUREAU_MON',
                'AMT_REQ_CREDIT_BUREAU_WEEK',
                'AMT_REQ_CREDIT_BUREAU_DAY',
                'AMT_REQ_CREDIT_BUREAU_HOUR']].mode()

In [ ]:
# check fro mean 

application[['AMT_REQ_CREDIT_BUREAU_YEAR',
                'AMT_REQ_CREDIT_BUREAU_QRT',
                'AMT_REQ_CREDIT_BUREAU_MON',
                'AMT_REQ_CREDIT_BUREAU_WEEK',
                'AMT_REQ_CREDIT_BUREAU_DAY',
                'AMT_REQ_CREDIT_BUREAU_HOUR']].mean()

In [ ]:
# chcek fro median 

application[['AMT_REQ_CREDIT_BUREAU_YEAR',
                'AMT_REQ_CREDIT_BUREAU_QRT',
                'AMT_REQ_CREDIT_BUREAU_MON',
                'AMT_REQ_CREDIT_BUREAU_WEEK',
                'AMT_REQ_CREDIT_BUREAU_DAY',
                'AMT_REQ_CREDIT_BUREAU_HOUR']].median()

Observations for the below columns

- AMT_REQ_CREDIT_BUREAU_YEAR  
        Mean is 1.899974 and Median is 1.000000
        Mode is 0
        We wont impute as missing values are higher (13.50%) 
        
- AMT_REQ_CREDIT_BUREAU_QRT
        Mean is 0.265474 and Median is 0
        Mode is 0
        We wont impute as missing values are higher (13.50%) 

- AMT_REQ_CREDIT_BUREAU_MON
        Mean is 0.267395 and Median is 0
        Mode is 0
        We wont impute as missing values are higher (13.50%) 

- AMT_REQ_CREDIT_BUREAU_WEEK
        Mean is 0.034362 and Median is 0
        Mode is 0
       We wont impute as missing values are higher (13.50%) 
- AMT_REQ_CREDIT_BUREAU_DAY
        Mean is 0.007000 and Median is 0
        Mode is 0
        We wont impute as missing values are higher (13.50%) 

- AMT_REQ_CREDIT_BUREAU_HOUR
        Mean is 0.006402 and Median is 0
        Mode is 0
        We wont impute as missing values are higher (13.50%)

The remaining attributes have missing value between : Missing  values > 0% and < 1%

In [ ]:
Miss_less_df = null_application[(null_application['null_percentage'] > 0) & (null_application['null_percentage'] < 1)]

In [ ]:
Miss_less_df.sort_values(by = 'null_percentage', ascending = False)

In [ ]:
#Lets analyse one by one and see if we need to impute these above attributes

In [ ]:
# Analysis of NAME_TYPE_SUITE column 

application['NAME_TYPE_SUITE'].value_counts()

In [ ]:
plt.figure(figsize = (10,5))
sns.countplot(data = application, x = "NAME_TYPE_SUITE")
plt.xticks(rotation = 90)
plt.show()


Observation : 
    
    - we see "Unaccompanied" category has the highest number of loan applicant , looks like loan applicant comes alone to         apply for loan 
    
    - We can impute this to the missing values

In [ ]:

# impute "Unaccompied" to the missing value 

application['NAME_TYPE_SUITE'].fillna(value = 'Unaccompanied', inplace = True)

In [ ]:

plt.figure(figsize = (10,5))
sns.countplot(data = application, x = "NAME_TYPE_SUITE")
plt.xticks(rotation = 90)
plt.show()

In [ ]:
application['NAME_TYPE_SUITE'].value_counts()

Analysis of OBS_30_CNT_SOCIAL_CIRCLE column

In [ ]:
application['OBS_30_CNT_SOCIAL_CIRCLE'].describe()

In [ ]:
sns.boxplot(application['OBS_30_CNT_SOCIAL_CIRCLE'])
plt.show()

In [ ]:
application['OBS_30_CNT_SOCIAL_CIRCLE'].mean()

In [ ]:
application['OBS_30_CNT_SOCIAL_CIRCLE'].mode()

In [ ]:
application['OBS_30_CNT_SOCIAL_CIRCLE'].median()

Observations

- Median is 0.0
- MODE is 0.0
- Mean is 1.42
- There are two outlier values , which lies at 50 and 350.


Conclusion - Mean can be used for imputation.

In [ ]:
# fill the missignvalue , here we are using mean 
application['OBS_30_CNT_SOCIAL_CIRCLE'].fillna(value = 1.42, inplace = True)

Analysis of DEF_30_CNT_SOCIAL_CIRCLE column

In [ ]:
application.DEF_30_CNT_SOCIAL_CIRCLE.value_counts().describe()

In [ ]:
sns.boxplot(application['DEF_30_CNT_SOCIAL_CIRCLE'])
plt.show()

In [ ]:
application['DEF_30_CNT_SOCIAL_CIRCLE'].quantile(q = [0.25,0.5,0.75,0.99,1])

In [ ]:
application['DEF_30_CNT_SOCIAL_CIRCLE'].mean()

In [ ]:
application['DEF_30_CNT_SOCIAL_CIRCLE'].mode()

In [ ]:
application['DEF_30_CNT_SOCIAL_CIRCLE'].median()

Observations:
 
  - Median is 0.0
  - Mode is 0.0
  - Mean value is 0.15
  - Even 99th percentile value is 2. There are 10 outliers.
  
  - Mean can be used for imputation. It will not introduce bias as the missing value percentage is small (0.33%)

In [ ]:
application['DEF_30_CNT_SOCIAL_CIRCLE'].fillna(value = 0.15, inplace = True)

Analysis of OBS_60_CNT_SOCIAL_CIRCLE column

In [ ]:
application['OBS_60_CNT_SOCIAL_CIRCLE'].describe()

In [ ]:
sns.boxplot(application['OBS_60_CNT_SOCIAL_CIRCLE'])
plt.show()

In [ ]:
application['OBS_60_CNT_SOCIAL_CIRCLE'].quantile(q = [0.25,0.5,0.75,0.99,1])

In [ ]:
application['OBS_60_CNT_SOCIAL_CIRCLE'].mean()

In [ ]:
application['OBS_60_CNT_SOCIAL_CIRCLE'].mode()

In [ ]:
application['OBS_60_CNT_SOCIAL_CIRCLE'].median()

Observations:

 - median is 0.0
 - Mode is 0.0
 - Mean value is 1.41
 - There are 2 outliers. - 50 and 350 approximately 
 - Mean can be used for imputation.

In [ ]:
application['OBS_60_CNT_SOCIAL_CIRCLE'].fillna(value = 1.41, inplace = True)

Analysis of DEF_60_CNT_SOCIAL_CIRCLE column

In [ ]:
application['DEF_60_CNT_SOCIAL_CIRCLE'].value_counts().head()

In [ ]:
application['DEF_60_CNT_SOCIAL_CIRCLE'].describe()

In [ ]:
sns.boxplot(application['DEF_60_CNT_SOCIAL_CIRCLE'])
plt.show()

In [ ]:
application['DEF_60_CNT_SOCIAL_CIRCLE'].mean()

In [ ]:
application['DEF_60_CNT_SOCIAL_CIRCLE'].mode()

In [ ]:
application['DEF_60_CNT_SOCIAL_CIRCLE'].median()

#### Observations

 - Looking at the boxplot, median is 0.0
 - Most recurring value is 0.0
 - Mean value is 0.10
 -  There are 8 outliers , the farthest of which is 24 appromiately. 
 - Mean can be used for imputation.

In [ ]:
application['DEF_60_CNT_SOCIAL_CIRCLE'].fillna(value = 1.10, inplace = True)

Analysis of EXT_SOURCE_2 column

In [ ]:
application['EXT_SOURCE_2'].describe()

In [ ]:
sns.boxplot(application['EXT_SOURCE_2'])
plt.show()

In [ ]:
application['EXT_SOURCE_2'].mean()

In [ ]:
application['EXT_SOURCE_2'].mode()

In [ ]:
application['EXT_SOURCE_2'].median()

Observations

-  median is 0.57
- mode is 0.29
- Mean value is 0.51
- There is no outlier in the dataset
- Mean  can be used for imputation.

In [ ]:
application['EXT_SOURCE_2'].fillna(value = 0.51, inplace = True)

Analysis of AMT_GOODS_PRICE column

In [ ]:
application['AMT_GOODS_PRICE'].describe()

In [ ]:
sns.boxplot(application['AMT_GOODS_PRICE'])
plt.show()

In [ ]:
application['AMT_GOODS_PRICE'].mean()

In [ ]:
application['AMT_GOODS_PRICE'].mode()

In [ ]:
application['AMT_GOODS_PRICE'].median()

Observations

- median is 450000
- mode is 450000 -  So median and mode are the same
- Mean value is 538396.21
- Mean can be used for imputation.

In [ ]:
application.fillna(value=538396.21,inplace=True)

# Impute Incorrect values presnt in the variables

Analysis of CODE_GENDER column

In [ ]:
application['CODE_GENDER'].value_counts(normalize=True)*100

In [ ]:
application[application['CODE_GENDER'] == 'XNA']

Obervation : 
    
    - As data looks valid, we will go ahead and check for an imputation method.
        - Female applicants are twice the number of Male applicants; so we will go ahead and impute CODE_GENDER with 'F'

In [ ]:
application['CODE_GENDER'] = application['CODE_GENDER'].apply(lambda x: 'F' if x == 'XNA' else x)

In [ ]:
# chcek if values are filled

application['CODE_GENDER'].value_counts(normalize=True)*100

Mising values are imputed and treated ; No null vlaue presnet in the gender cloumn

Analysis of DAYS_BIRTH column

In [ ]:
application['DAYS_BIRTH'].value_counts(normalize=True)*100

# application['DAYS_BIRTH'].nunique()

There are 17460 unique records all of which seem to be having negative values

In [ ]:
# convert -ve to + ve  days 

application['DAYS_BIRTH'] = application['DAYS_BIRTH'].apply(lambda x: -x if x < 0 else x)

In [ ]:
# rechcek fro -ve values 

application['DAYS_BIRTH'].value_counts(normalize=True)*100

Obervation : 
    
    - All Days_birth column has been imputed with +ve values

In [ ]:
application['DAYS_BIRTH'].head()

EDA : We can create a new column AGE for ease of analysis

In [ ]:
application['AGE'] = application['DAYS_BIRTH'].apply(lambda x: round(x/365))

In [ ]:
application.head()

Obervation : 
    
    EDA , done on column DAYS_BIRTH and a new column AGE is created

Analysis of NAME_FAMILY_STATUS column

In [ ]:
application['NAME_FAMILY_STATUS'].value_counts(normalize=True)*100

In [ ]:
application[application['NAME_FAMILY_STATUS'] == 'Unknown']

In [ ]:
application['NAME_FAMILY_STATUS'].value_counts(normalize = True) * 100

Obervation : 
    
     -- Married applicants make up more than 63% of applicants.
     -- Hence, we will go ahead and impute NAME_FAMILY_STATUS with 'Married'

In [ ]:
# impute the value 

application['NAME_FAMILY_STATUS'] = application['NAME_FAMILY_STATUS'].apply(lambda x: 'Married' if x == 'Unknown' else x)

In [ ]:
# recheck the null value  ; if presnet or not 

application['NAME_FAMILY_STATUS'].value_counts()

Analysis of DAYS_EMPLOYED column

In [ ]:
application['DAYS_EMPLOYED'].value_counts()

In [ ]:
application['DAYS_EMPLOYED'].value_counts(normalize = True) * 100

Oberavton : We see -ve values ; which ideally should not be the case

In [ ]:
# chcek to see how many entires are there in -ve value 

len(application[application['DAYS_EMPLOYED'] < 0])

We see there are 252137 data points , whos value is -ve

In [ ]:
# lets check the unique value here 

application['DAYS_EMPLOYED'].nunique()

Observations: 
    
    - 55374 data entries are valid ,days employed is 365243 days 
    - 252137 data entries are negative values for days employed
    - there are 12574 unique values presnet in days employed 
    
    We see lot of -ve values, considering entries where done wrong , by mistake , lets convert the -ve value to + ve value.

In [ ]:
application['DAYS_EMPLOYED'] = application['DAYS_EMPLOYED'].apply(lambda x : -x if x < 0 else x)

In [ ]:
#application['DAYS_EMPLOYED'].value_counts()
len(application[application['DAYS_EMPLOYED'] < 0])

Obervation : We see all the data entries have postive values now.

In [ ]:
application['DAYS_EMPLOYED'].value_counts()

In [ ]:
application.info()

In [ ]:
application['NAME_INCOME_TYPE'].value_counts()

In [ ]:
application['DAYS_EMPLOYED'].value_counts(normalize=True)*100

Obervation : 
    
    - In Days employed - 365243 days dosent looks valid , even though logcially its not possible to work for that many days 
    - We see that its 18% of the data avalibale, So we neither cannot ignore the same. 
    
    - Unless, the applicnt is pensioner or unmemployed . 
    
    - Lets check for the same with looking at the Income type of these data points

In [ ]:
# check to see the days employed values with 365243 days with income type column 

application[application['DAYS_EMPLOYED'] == 365243].NAME_INCOME_TYPE.value_counts()

Observvatrion : Looks like we have Pensioner and also Unemployed applicant on this , so will can take to consideration . And no cahnges is required.

In [ ]:
# from the Days employyed , we can create a column on the years of experince / employed , which will ease our annalysis later 

application['YEAR_EMPLOYED'] = application['DAYS_EMPLOYED'].apply(lambda x : round(x/365))

In [ ]:
application.head()

Observation : 
    
    EDA - Cretaed a new column "YEAR_EMPLOYED" , from "DAYS_EMPLOYED"

Analysis of DAYS_REGISTRATION column

In [ ]:
application['DAYS_REGISTRATION'].value_counts(normalize=True)

Obervation : 
    
    We see -ve values here , Unlike to be these values . 
    So lets convert the same to +ve values

In [ ]:
application['DAYS_REGISTRATION'] =  application['DAYS_REGISTRATION'].apply(lambda x : -x if x < 0 else x)

In [ ]:
application['DAYS_REGISTRATION'].value_counts(normalize=True)

Oberavtion  : Converted DAYS_REGISTRATION to positive days

In [ ]:
# craete a column to get the year of registration for ease of analysis 

application['YEAR_REGISTRATION'] =  application['DAYS_REGISTRATION'].apply(lambda x : round(x/365))

application.head()

observation : 
    
    - EDA : on Year of registration , using days of registration cloumn

Analysis of DAYS_ID_PUBLISH column

In [ ]:
application['DAYS_ID_PUBLISH'].value_counts(normalize=True)

In [ ]:
application['DAYS_ID_PUBLISH'] = application['DAYS_ID_PUBLISH'].apply(lambda x : -x if x < 0 else x)

In [ ]:
application['DAYS_ID_PUBLISH'].value_counts(normalize=True)

Observation : 
    
    - -ve values are converted to + ve values 
    - And we can create a new column , on this variable ,to know the year of publish , which ease the analysis

In [ ]:
# Creating a new column YEARS_ID_PUBLISH  using DAYS_ID_PUBLISH.
application['YEARS_ID_PUBLISH'] = application['DAYS_ID_PUBLISH'].apply(lambda x: round(x/365))

In [ ]:
application.head()

Obseravtion :  EDA  Performed on DAYS_ID_PUBLISH , to create YEARS_ID_PUBLISH

Analysis of DAYS_LAST_PHONE_CHANGE column

In [ ]:
application['DAYS_LAST_PHONE_CHANGE'].value_counts(normalize=True)

In [ ]:
application['DAYS_LAST_PHONE_CHANGE'] = application['DAYS_LAST_PHONE_CHANGE'].apply(lambda x : -x if x < 0 else x)

application['DAYS_LAST_PHONE_CHANGE'].value_counts(normalize=True)

Obervation : All Data enties in  DAYS_LAST_PHONE_CHANGE have been changed to positive values

In [ ]:
# crete a new column for YEars Last phone change 

application['YEARS_LAST_PHONE_CHANGE'] = application['DAYS_LAST_PHONE_CHANGE'].apply(lambda x: round(x/365))

In [ ]:
application.head()

Observation : 
    
    EDA done on DAYS_LAST_PHONE_CHANGE , and a new attribute YEARS_LAST_PHONE_CHANGE is created .

In [ ]:
application.info()

# Outlier chcek   / Outlier Analysis

Chcek for the Numeric varibales , if outliers are present 


Analysis of CNT_CHILDREN column

In [ ]:
application['CNT_CHILDREN'].value_counts().sort_values(ascending = False)

In [ ]:
application['CNT_CHILDREN'].value_counts(normalize = True)* 100

In [ ]:
application[application['CNT_CHILDREN']>7].AGE.value_counts()

In [ ]:
application[application['CNT_CHILDREN']>10].AGE.value_counts()

Observations : 

- we can see that above 7 children, the count of applicants are very minimal .
- Looking at the data for applicants with 10 children and above , the applicants are 30years and above  
- There seems a one-off scenario , applicant age being 28 and that not possible logically and can be treated as an outlier

In [ ]:
# Plot the distplt and box plot to look at the outlier more accurately


plt.subplots(1,2 ,figsize = (20,8))
plt.subplot(121)
    
sns.distplot(application['CNT_CHILDREN'], color = 'purple')
pltname = 'Distplot of ' + 'CNT_CHILDREN'
plt.title(pltname)

plt.subplot(122)
sns.boxplot(y = 'CNT_CHILDREN', data = application, fliersize = 10)
pltname = 'Boxplot of ' + 'CNT_CHILDREN'
plt.title(pltname)

plt.tight_layout(pad = 4)
plt.show()

In [ ]:
# look at the Qualtile range 

Q1 = application['CNT_CHILDREN'].quantile(0.25)
Q3 = application['CNT_CHILDREN'].quantile(0.75)
IQR = Q3 - Q1

# print(Q1)
# print(Q3)
print(IQR)

In [ ]:
# chcek for the Oulier  : perform the IQR calulation , to chcek the min and Max value of outlier 

Min_value = (Q1 - 1.5 * IQR)
Max_value = (Q3 + 1.5 * IQR)

print("Min value before which outlier exist: {}".format(Min_value))
print("Max value after which outlier exist: {}".format(Max_value))

Observation  : 

- we see that Max value of outlier is above 2.5 . 
    
- So to conclude this , we can look applicants with 3 or more childern has outliers.

Analysis of AMT_INCOME_TOTAL column

In [ ]:
application['AMT_INCOME_TOTAL'].value_counts(normalize = True).sort_values(ascending = False) * 100

In [ ]:
# chcek the qualtile range 

application['AMT_INCOME_TOTAL'].describe()

#application['AMT_INCOME_TOTAL'].describe(percentiles = [0.75,0.99,0.999])

In [ ]:
# Plt the box plt and distplt to visualize 


plt.subplots(1,2 ,figsize = (20,8))
plt.subplot(121)
    
sns.distplot(application['AMT_INCOME_TOTAL'], color = 'purple')
pltname = 'Distplot of ' + 'AMT_INCOME_TOTAL'
plt.title(pltname)

plt.subplot(122)
sns.boxplot(y = 'AMT_INCOME_TOTAL', data = application)
pltname = 'Boxplot of ' + 'AMT_INCOME_TOTAL'
plt.title(pltname)

plt.tight_layout(pad = 4)
plt.show()

Observation : 
    - In box plot , we see an Outliers at a far around of 12 million

In [ ]:
# chcek the lower percentile and see the quantile range value 
application['AMT_INCOME_TOTAL'].describe(percentiles = [0.75,0.95,0.99,0.999])

observation : 

- we see at 99.9% we get a value which is 900K 
    
- let chcek the plot at this range and observe the visulization

In [ ]:
# Plt the box plt and distplt to visualize 


plt.subplots(1,2 ,figsize = (20,8))
plt.subplot(121)
    
sns.distplot(application[application['AMT_INCOME_TOTAL'] < 900000 ].AMT_INCOME_TOTAL, color = 'blue')
pltname = 'Distplot of ' + 'AMT_INCOME_TOTAL'
plt.title(pltname)

plt.subplot(122)
sns.boxplot(y = application[application['AMT_INCOME_TOTAL'] < 900000 ].AMT_INCOME_TOTAL, data = application)
pltname = 'Boxplot of ' + 'AMT_INCOME_TOTAL'
plt.title(pltname)

plt.tight_layout(pad = 4)
plt.show()

Observation : We are can clearly look at the plot and get the insight on outlier much better than the last ones. 
    
   Conclusion  : we consider the income above 900K has outlier .

Analysis of CNT_FAM_MEMBERS column

In [ ]:
(application['CNT_FAM_MEMBERS'].value_counts(normalize=True)*100).sort_values(ascending = False)

In [ ]:
# chcek for the qunatile range 

application['CNT_FAM_MEMBERS'].describe()

In [ ]:
# try plotting the graph 

plt.subplots(1,2 ,figsize = (20,8))
plt.subplot(121)
    
sns.distplot(application['CNT_FAM_MEMBERS'], color = 'green')
pltname = 'Distplot of ' + 'CNT_FAM_MEMBERS'
plt.ticklabel_format(style='plain', axis='x')
plt.title(pltname)

plt.subplot(122)
sns.boxplot(y = application['CNT_FAM_MEMBERS'], data = application)
pltname = 'Boxplot of ' + 'CNT_FAM_MEMBERS'
plt.title(pltname)
plt.tight_layout(pad = 4)
plt.show()

Observation :  We see outlier is far around 500000 and no much pattern found and box plot is not clearrly vivisble to get the conclusion

In [ ]:
# chcek for the qunatile range 

application['CNT_FAM_MEMBERS'].describe(percentiles= [0.75,0.99,0.9999])

In [ ]:
# try plotting the graph , with 99.9% percentile value.

plt.subplots(1,2 ,figsize = (20,8))
plt.subplot(121)
    
sns.distplot(application[application['CNT_FAM_MEMBERS'] <= 8].CNT_FAM_MEMBERS, color = 'green')
pltname = 'Distplot of ' + 'CNT_FAM_MEMBERS'
plt.ticklabel_format(style='plain', axis='x')
plt.title(pltname)

plt.subplot(122)
sns.boxplot(y = application[application['CNT_FAM_MEMBERS'] <= 8].CNT_FAM_MEMBERS, data = application)
pltname = 'Boxplot of ' + 'CNT_FAM_MEMBERS'
plt.title(pltname)
plt.tight_layout(pad = 4)
plt.show()

Obervation : We can see applicant with 5 or more family member are outliers. 
    
    
   Conclude : we consider family with 5 or more memebers has outliers.



Analysis of AMT_ANNUITY column

In [ ]:
application['AMT_ANNUITY'].value_counts(normalize=True).sort_values(ascending = False)*100

In [ ]:
application['AMT_ANNUITY'].describe()

In [ ]:

# calculate IQR 


Q1 = application['AMT_ANNUITY'].quantile(0.25)
Q3 = application['AMT_ANNUITY'].quantile(0.75)
IQR = Q3 - Q1
print(IQR)

In [ ]:
# Values before (Q1 - 1.5 IQR) and (Q3 + 1.5 IQR) are outliers - Chcek these values 

Min_value = (Q1 - 1.5 * IQR)
Max_value = (Q3 + 1.5 * IQR)
print("Min value before which outlier exist: {}".format(Min_value))
print("Max value after which outlier exist: {}".format(Max_value))

Obervation : We see the outliers are above 61704 , after the IQR calculation 

Lets plot and visualize the same.

In [ ]:
# try plotting the graph 

plt.subplots(1,2 ,figsize = (20,8))
plt.subplot(121)
    
sns.distplot(application['AMT_ANNUITY'], color = 'red')
pltname = 'Distplot of ' + 'AMT_ANNUITY'
plt.ticklabel_format(style='plain', axis='x')
plt.title(pltname)

plt.subplot(122)
sns.boxplot(y = application['AMT_ANNUITY'], data = application)
pltname = 'Boxplot of ' + 'AMT_ANNUITY'
plt.title(pltname)
plt.tight_layout(pad = 4)
plt.show()

Observation : AS in the IQR max value calculation , We see outier exists above 61704 . 
    
-  Lets plot the visualization , under the outliers

In [ ]:
plt.subplots(1,2 ,figsize = (20,8))

plt.subplot(121)
sns.distplot(application[application['AMT_ANNUITY'] <= 61704].AMT_ANNUITY,color="red")
pltname = 'Distplot of ' + 'AMT_ANNUITY'
plt.ticklabel_format(style='plain', axis='x')
plt.title(pltname)

plt.subplot(122)
sns.boxplot(application[application['AMT_ANNUITY'] <= 61704].AMT_ANNUITY, data = application)
pltname = 'Boxplot of ' + 'AMT_ANNUITY'
plt.title(pltname)

plt.tight_layout(pad = 4)
plt.show()

Observations

-the outliers tend to exist after 61704


Conclusion : Applicants with AMT_ANNUITY above 61704  are considered has outliers


Analysis of AMT_CREDIT column

In [ ]:
application['AMT_CREDIT'].value_counts(normalize = True).sort_values(ascending = False) * 100

In [ ]:
application['AMT_CREDIT'].describe()

In [ ]:
# try plotting the graph 

plt.subplots(1,2 ,figsize = (20,8))
plt.subplot(121)
    
sns.distplot(application['AMT_CREDIT'], color = 'red')
pltname = 'Distplot of ' + 'AMT_CREDIT'
plt.ticklabel_format(style='plain', axis='x')
plt.title(pltname)

plt.subplot(122)
sns.boxplot(y = application['AMT_CREDIT'], data = application)
pltname = 'Boxplot of ' + 'AMT_CREDIT'
plt.title(pltname)
plt.tight_layout(pad = 4)
plt.show()

In [ ]:
# calculate IQR
Q1 = application['AMT_CREDIT'].quantile(0.25)
Q3 = application['AMT_CREDIT'].quantile(0.75)
IQR = Q3 - Q1
print(IQR)

In [ ]:
# Values before (Q1 - 1.5 IQR) and after (Q3 + 1.5 IQR) are outliers - Chcek these values 

Min_value = (Q1 - 1.5 * IQR)
Max_value = (Q3 + 1.5 * IQR)
print("Min value before which outlier exist: {}".format(Min_value))
print("Max value after which outlier exist: {}".format(Max_value))

Observation  : Values  above 1616625 are considered has outliers

In [ ]:
# plot using the same with value 1616625 has outlier limit

plt.subplots(1,2 ,figsize = (20,8))

plt.subplot(121)
sns.distplot(application[application['AMT_CREDIT']<= 1616625].AMT_CREDIT,color="red")
pltname = 'Distplot of ' + 'AMT_CREDIT'
plt.ticklabel_format(style='plain', axis='x')
plt.title(pltname)

plt.subplot(122)
sns.boxplot(application[application['AMT_CREDIT'] <= 1616625].AMT_CREDIT, data = application)
pltname = 'Boxplot of ' + 'AMT_CREDIT'
plt.title(pltname)

plt.tight_layout(pad = 4)
plt.show()

Observations

- the outliers tend to exist after 1616625

Conclusion : Applicants with AMT_CREDIT above 1616625 are considered has outliers

In [ ]:
application.info()

Analysis of YEARS_LAST_PHONE_CHANGE column

In [ ]:
application['YEARS_LAST_PHONE_CHANGE'].value_counts(normalize = True).sort_values(ascending = False) * 100

In [ ]:
application['YEARS_LAST_PHONE_CHANGE'].describe(percentiles = [0.75,0.99,0.9999])

In [ ]:
# calcultae the IQR 

Q1 = application['YEARS_LAST_PHONE_CHANGE'].quantile(0.25)
Q3 = application['YEARS_LAST_PHONE_CHANGE'].quantile(0.75)
IQR = Q3 - Q1
print(IQR)

In [ ]:
Min_value = (Q1 - 1.5 * IQR)
Max_value = (Q3 + 1.5 * IQR)
print("Min value before which outlier exist: {}".format(Min_value))
print("Max value after which outlier exist: {}".format(Max_value))

In [ ]:

plt.subplots(1,2 ,figsize = (20,8))

plt.subplot(121)
sns.distplot(application['YEARS_LAST_PHONE_CHANGE'],color="red")
pltname = 'Distplot of ' + 'YEARS_LAST_PHONE_CHANGE'
plt.ticklabel_format(style='plain', axis='x')
plt.title(pltname)

plt.subplot(122)
sns.boxplot(application['YEARS_LAST_PHONE_CHANGE'], data = application)
pltname = 'Boxplot of ' + 'YEARS_LAST_PHONE_CHANGE'
plt.title(pltname)

plt.tight_layout(pad = 4)
plt.show()

Obervation : Max value of outlier is 8.5 years from the last phoen changed

In [ ]:
# plt the vizualiation  , with outlier 8.5 

plt.subplots(1,2 ,figsize = (20,8))

plt.subplot(121)
sns.distplot(application[application['YEARS_LAST_PHONE_CHANGE']<8.5].YEARS_LAST_PHONE_CHANGE,color="red")
pltname = 'Distplot of ' + 'YEARS_LAST_PHONE_CHANGE'
plt.ticklabel_format(style='plain', axis='x')
plt.title(pltname)

plt.subplot(122)
sns.boxplot(application[application['YEARS_LAST_PHONE_CHANGE']<8.5].YEARS_LAST_PHONE_CHANGE, data = application)
pltname = 'Boxplot of ' + 'YEARS_LAST_PHONE_CHANGE'
plt.title(pltname)

plt.tight_layout(pad = 4)
plt.show()

Observations

-  the outliers tend to exist after 8.5 


Conclusion : Applicants with YEARS_LAST_PHONE_CHANGE above 8 are considerd has outliers

In [ ]:
application.info()

Analysis of AMT_GOODS_PRICE column

In [ ]:
application['AMT_GOODS_PRICE'].value_counts(normalize = True).sort_values(ascending = False) * 100

In [ ]:
application['AMT_GOODS_PRICE'].describe()

In [ ]:

plt.subplots(1,2 ,figsize = (20,8))

plt.subplot(121)
sns.distplot(application['AMT_GOODS_PRICE'],color="blue")
pltname = 'Distplot of ' + 'AMT_GOODS_PRICE'
plt.ticklabel_format(style='plain', axis='x')
plt.title(pltname)

plt.subplot(122)
sns.boxplot(application['AMT_GOODS_PRICE'], data = application)
pltname = 'Boxplot of ' + 'AMT_GOODS_PRICE'
plt.title(pltname)

plt.tight_layout(pad = 4)
plt.show()

Instaed of removing the outlier in the AMT_GOODS_PRICE column 

We can categorize the AMT_GOODS_PRICE value into differnet bins ; Here lets categorize 4 or 5 bins based on low , medium , high values

In [ ]:
application['AMT_GOODS_PRICE_CATEGORY'] = pd.cut(application['AMT_GOODS_PRICE'], bins = 5, labels = ['very low','low','medium','high','very high'])

In [ ]:
application.head()

In [ ]:
# chcek for the percentage of values populated in each category 

application['AMT_GOODS_PRICE_CATEGORY'].value_counts(normalize=True)*100

EDA Perfomed : for ease of analysis , the AMT_GOODS_PRICE column is been categorised into 5 bins

Analysis of AGE Column

In [ ]:
application['AGE'].value_counts(normalize=True).sort_values(ascending = False)*100

In [ ]:
application['AGE'].describe()

Instaed of removing the outliers in the AGe column , lets create a category for ease of analysis

Categorize the values from AGE column into a new column AGE_CATEGORY

In [ ]:
# define the age category function  for performing the categories 

def age_cat(years):
    if years <= 20:
        return '0-20'
    elif years > 20 and years <= 30:
        return '20-30'
    elif years > 30 and years <= 40:
        return '30-40'  
    elif years > 40 and years <= 50:
        return '40-50'
    elif years > 50 and years <= 60:
        return '50-60'
    elif years > 60 and years <= 70:
        return '60-70'
    elif years > 70:
        return '70+'

In [ ]:
application['AGE_CATEGORY'] = application['AGE'].apply(age_cat)

In [ ]:
application.head()

In [ ]:
# Checking that the values are populated are proper

application['AGE_CATEGORY'].value_counts().sort_values(ascending = False)

EDA : AGE columns is been redefined to AGe category column , where the applicant age is been categorised.

Analysis of YEARS_REGISTRATION column

In [ ]:
application['YEAR_REGISTRATION'].value_counts(normalize=True).sort_values(ascending = False)*100

In [ ]:
application['YEAR_REGISTRATION'].describe()

In [ ]:
# Categorize the values from YEAR_REGISTRATION into a new column YEAR_REGISTRATION_CATEGORY , same has the age category : 
# this will ease on analysis when categorized.

application['YEAR_REGISTRATION_CATEGORY'] = application['YEAR_REGISTRATION'].apply(age_cat)

In [ ]:
application.head()

In [ ]:
# Checking that the values are populated are proper

application['YEAR_REGISTRATION_CATEGORY'].value_counts().sort_values(ascending = False)

EDA :  YEAR_REGISTRATION columns is been redefined to YEAR_REGISTRATION_CATEGORY column , where the applicant registered year is been categorised.

In [ ]:
application.info()

Analysis on  TARGET column

In [ ]:
application['TARGET'].value_counts(normalize=True).sort_values(ascending=False)*100

In [ ]:
plt.figure(figsize = (10,5))
sns.countplot(x = application['TARGET'], data = application)
plt.title('Ratio of TARGET variable')
plt.show()

In [ ]:
# Check percentage for TARGET variable values

plt.figure(figsize = [20,8])
(application['TARGET'].value_counts(normalize=True)*100).plot.bar(title = "Checking percentage for TARGET variable Ratio", color=['black', 'red', 'green', 'blue', 'cyan'])
plt.xticks(rotation=0)
plt.show()

Observations

- We see imbalance in TARGET variable based on the % and the value count operations performed at top 

- TARGET value 1 represents applicants with payment difficulties i.e. 8.07% of the data
- TARGET value 0 represents all other cases than 1 i.e. 91.93% of the data

As per the problem stmts given : understand how consumer attributes and loan attributes influence the tendency of default.

The data given below contains the information about the loan application at the time of applying for the loan. It contains two types of scenarios:


1. The applicants with payment difficulties: he/she had late payment more than X days on at least one of the first Y instalments of the loan in our sample,

2. All other cases: All other cases when the payment is paid on time.

So at this stage we can split this data accordign to the TARGET VARIBALE and analyse it spepartely . 


======================================================================================================

- split the Data into 2 Data frame based on target variable 

1. TARGET value 1 represents applicants with payment difficulties i.e. 8.07% of the data
2. TARGET value 0 represents all other cases than 1 i.e. 91.93% of the data

In [ ]:
# Create new dataframe with TARGET value 1 

df_target_1 = application[application['TARGET'] == 1]

df_target_1.shape

In [ ]:
# Create new dataframe with TARGET value 0

df_target_0 = application[application['TARGET'] == 0]

df_target_0.shape

# Univariate Analysis on the categorical variables.

Analysis of NAME_CONTRACT_TYPE

In [ ]:
# with payment difficulties -> target value 1 

df_target_1['NAME_CONTRACT_TYPE'].value_counts()

In [ ]:
# with on time payment  -> target value 0

df_target_0['NAME_CONTRACT_TYPE'].value_counts()

In [ ]:

# plt the visualtion 

plt.figure(figsize = [20,8])
palt = sns.color_palette("bright")

plt.subplot(1,2,1)
pltname = 'Analysis of ' + ' applicnats with payment difficulties in ' + 'NAME_CONTRACT_TYPE'
plt.title(pltname)
    
sns.countplot(x = 'NAME_CONTRACT_TYPE', data = df_target_1, order = sorted(df_target_1['NAME_CONTRACT_TYPE'].unique(), reverse = True), palette = palt)
plt.xticks(rotation = 90)


plt.subplot(1,2,2)
pltname = 'Analysis of ' + ' applicants with on time payment is ' + 'NAME_CONTRACT_TYPE'
plt.title(pltname)
    
sns.countplot(x = 'NAME_CONTRACT_TYPE', data = df_target_0, order = sorted(df_target_0['NAME_CONTRACT_TYPE'].unique(), reverse = True), palette = palt)
plt.xticks(rotation = 90)
plt.tight_layout(pad = 4)
plt.show()

Observations :

- we don't see significant differences in NAME_CONTRACT_TYPE column between applicants with payment difficulties and on-time payments.

Conclusion : NAME_CONTRACT_TYPE column does not provide any conclusive evidence in favor of applicants with payment difficulties or on-time payments.

Analysis of CODE_GENDER

In [ ]:
# chcek if the gender attributs - contributes to payment difficulties

#df_target_1.head()

df_target_1['CODE_GENDER'].value_counts()

In [ ]:
# chcek if the gender attributs - contributes to on time payment



df_target_0['CODE_GENDER'].value_counts()

In [ ]:

# plt the visualtion 

plt.figure(figsize = [20,8])
palt = sns.color_palette("bright")

plt.subplot(1,2,1)
pltname = 'Analysis of ' + ' applicants with payment difficulties in ' + 'CODE_GENDER'
plt.title(pltname)
    
sns.countplot(x = 'CODE_GENDER', data = df_target_1, order = sorted(df_target_1['CODE_GENDER'].unique(), reverse = True), palette = palt)
plt.xticks(rotation = 90)


plt.subplot(1,2,2)
pltname = 'Analysis of ' + ' applicants with on time payment is ' + 'CODE_GENDER'
plt.title(pltname)
    
sns.countplot(x = 'CODE_GENDER', data = df_target_0, order = sorted(df_target_0['CODE_GENDER'].unique(), reverse = True), palette = palt)
plt.xticks(rotation = 90)
plt.tight_layout(pad = 4)
plt.show()

Observations: 
    
   - we see there is a increase  in "Male" values from CODE_GENDER between applicants with payment difficulties to on-time payments. 
   -  Where as we dont see much significant diffrence in the "Female" value from CODE_GENDER between applicants with payment difficulties to on-time payments.


   - Conclusion :  "Male" applicants have more payment difficulties than Female

Analysis of FLAG_OWN_CAR

In [ ]:
# with payment difficulties 

df_target_1['FLAG_OWN_CAR'].value_counts()

In [ ]:
# with  on time payment

df_target_0['FLAG_OWN_CAR'].value_counts()

In [ ]:

# plt the visualtion 

plt.figure(figsize = [20,8])
palt = sns.color_palette("bright")

plt.subplot(1,2,1)
pltname = 'Analysis of ' + ' applicants with payment difficulties in ' + 'FLAG_OWN_CAR'
plt.title(pltname)
    
sns.countplot(x = 'FLAG_OWN_CAR', data = df_target_1, order = sorted(df_target_1['FLAG_OWN_CAR'].unique(), reverse = True), palette = palt)
plt.xticks(rotation = 90)


plt.subplot(1,2,2)
pltname = 'Analysis of ' + ' applicants with on time payment is ' + 'FLAG_OWN_CAR'
plt.title(pltname)
    
sns.countplot(x = 'FLAG_OWN_CAR', data = df_target_0, order = sorted(df_target_0['FLAG_OWN_CAR'].unique(), reverse = True), palette = palt)
plt.xticks(rotation = 90)
plt.tight_layout(pad = 4)
plt.show()

Observations : 

- we don't see significant differences in FLAG_OWN_CAR between applicants with payment difficulties and on-time payments.
    
 Conclusion:
 - FLAG_OWN_CAR column does not provide any conclusive evidence in terms of applicnats with payment difficulties or on-time payments

In [ ]:

application.info()

Analysis of NAME_INCOME_TYPE

In [ ]:
# with paymnet diffcuties 

df_target_1['NAME_INCOME_TYPE'].value_counts()

In [ ]:
# with paymnet on time 

df_target_0['NAME_INCOME_TYPE'].value_counts()

In [ ]:
# plt the visualtion 

plt.figure(figsize = [20,8])
palt = sns.color_palette("bright")

plt.subplot(1,2,1)
pltname = 'Analysis of ' + ' applicnats with payment difficulties in ' + 'NAME_INCOME_TYPE'
plt.title(pltname)
    
sns.countplot(x = 'NAME_INCOME_TYPE', data = df_target_1, order = sorted(df_target_1['NAME_INCOME_TYPE'].unique(), reverse = True), palette = palt)
plt.xticks(rotation = 90)


plt.subplot(1,2,2)
pltname = 'Analysis of ' + ' applicants with on time payment is ' + 'NAME_INCOME_TYPE'
plt.title(pltname)
    
sns.countplot(x = 'NAME_INCOME_TYPE', data = df_target_0, order = sorted(df_target_0['NAME_INCOME_TYPE'].unique(), reverse = True), palette = palt)
plt.xticks(rotation = 90)
plt.tight_layout(pad = 4)
plt.show()

Observation : 
    
-  Student and Businnesman dont have any payment diffuclities 
-   Pensioners have better on time payment compared with difficuties. 

Conclusion : 

1. Students don't have Payment difficulties. there are only 18 observations and should be treated as a weak correlation
2. Businessmen don't have Payment difficulties. There only 10 observations and should be treated as a weak correlation
3. Like wise , Pensioners have better ontime payments. This is as well a weak correlation.

Analysis of NAME_EDUCATION_TYPE

In [ ]:
# with payment diffculties 

df_target_1['NAME_EDUCATION_TYPE'].value_counts()

In [ ]:
# with payment on time 

df_target_0['NAME_EDUCATION_TYPE'].value_counts()

In [ ]:
# plt the visualtion 

plt.figure(figsize = [20,8])
palt = sns.color_palette("bright")

plt.subplot(1,2,1)
pltname = 'Analysis of ' + ' applicants with payment difficulties in ' + 'NAME_EDUCATION_TYPE'
plt.title(pltname)
    
sns.countplot(x = 'NAME_EDUCATION_TYPE', data = df_target_1, order = sorted(df_target_1['NAME_EDUCATION_TYPE'].unique(), reverse = True), palette = palt)
plt.xticks(rotation = 90)


plt.subplot(1,2,2)
pltname = 'Analysis of ' + ' applicants with on time payment is ' + 'NAME_EDUCATION_TYPE'
plt.title(pltname)
    
sns.countplot(x = 'NAME_EDUCATION_TYPE', data = df_target_0, order = sorted(df_target_0['NAME_EDUCATION_TYPE'].unique(), reverse = True), palette = palt)
plt.xticks(rotation = 90)
plt.tight_layout(pad = 4)
plt.show()

Observation   : 
    
  1. Applicants having higher education have  less payment diffuclty , however this is a weak correlation.  
  2. Other categories donot provide ant conclusive results .


Analysis of NAME_FAMILY_STATUS

In [ ]:
# with payment difficulties 

df_target_1['NAME_FAMILY_STATUS'].value_counts()

In [ ]:
# with payment on time 

df_target_0['NAME_FAMILY_STATUS'].value_counts()

In [ ]:
# plt the visualtion 

plt.figure(figsize = [20,8])
palt = sns.color_palette("bright")

plt.subplot(1,2,1)
pltname = 'Analysis of ' + ' applicants with payment difficulties in ' + 'NAME_FAMILY_STATUS'
plt.title(pltname)
    
sns.countplot(x = 'NAME_FAMILY_STATUS', data = df_target_1, order = sorted(df_target_1['NAME_FAMILY_STATUS'].unique(), reverse = True), palette = palt)
plt.xticks(rotation = 90)


plt.subplot(1,2,2)
pltname = 'Analysis of ' + ' applicnats with on time payment is ' + 'NAME_FAMILY_STATUS'
plt.title(pltname)
    
sns.countplot(x = 'NAME_FAMILY_STATUS', data = df_target_0, order = sorted(df_target_0['NAME_FAMILY_STATUS'].unique(), reverse = True), palette = palt)
plt.xticks(rotation = 90)
plt.tight_layout(pad = 4)
plt.show()

Observations

1. Applicant  who are 'Married' ; we dont see much significance b/w applicant with payment difficulties and on-time payments.
2. Applicant who are 'Widow' ; we see a slight significance diffence b/w applicant with payment difficulties and on-time payments. Where 'Widow' do on time payment . 
3. Applicant who are 'Single/not married' ; we see a significance diffence b/w applicant with payment difficulties and on-time payments. Where 'Single/not married' have diffuclties in payment . 
4. Remaining categories don't provide any conclusive results


Conclusion

1. Applicants who are 'Married' OR 'Widow' do on-time payments better comparatively.
   However, this is a weak correlation.
2. Applicants  who are 'Single/not married' have more difficulties with on-time payments comparatively. 
   However, this is a weak correlation.

In [ ]:
application.info()

# Univariate analysis of numerical variables

In [ ]:
#application.info()

Analysis of AMT_CREDIT

In [ ]:
# Outliers are been identifed for the entire data set . 

# now lets us see ; Outlier of AMT_CREDIT with Payment difficulties

df_target_1['AMT_CREDIT'].describe()

In [ ]:
# calculate teh quantile range - IQR  - for payment diffficulties 

Q1 = df_target_1['AMT_CREDIT'].quantile(0.25)
Q3 = df_target_1['AMT_CREDIT'].quantile(0.75)
IQR = Q3 - Q1
print(IQR)

In [ ]:
# calcutae the min and max values 

Min_value1 = (Q1 - 1.5 * IQR)
Max_value1 = (Q3 + 1.5 * IQR)
print("Min value before which outlier exist: {}".format(Min_value1))
print("Max value after which outlier exist: {}".format(Max_value1))

In [ ]:
# calculate teh quantile range - IQR  - for payment on time 

Q1 = df_target_0['AMT_CREDIT'].quantile(0.25)
Q3 = df_target_0['AMT_CREDIT'].quantile(0.75)
IQR = Q3 - Q1
print(IQR)

In [ ]:
# calcutae the min and max values 

Min_value0 = (Q1 - 1.5 * IQR)
Max_value0 = (Q3 + 1.5 * IQR)
print("Min value before which outlier exist: {}".format(Min_value0))
print("Max value after which outlier exist: {}".format(Max_value0))

In [ ]:
# plt the distplot 

plt.figure(figsize = [20,8])
sns.distplot(df_target_1[df_target_1['AMT_CREDIT'] <= Max_value1].AMT_CREDIT,label = 'Payment difficulties', hist=False)
sns.distplot(df_target_0[df_target_0['AMT_CREDIT'] <= Max_value0].AMT_CREDIT,label = 'On-Time Payments', hist=False)
plt.ticklabel_format(style='plain', axis='x')
plt.xticks(rotation = 45)
plt.legend()
plt.show()

observation:

- For AMT_CREDIT between 250000 - 750000, there are more applicant with Payment difficulties
- For AMT_CREDIT > 750000 , there are more applicant with On-Time Payments ; on in other hand payment diffiulity trend is down fall.

Analysis of AGE

In [ ]:
#Calculate IQR - paymnet diffculities 

Q1 = df_target_1['AGE'].quantile(0.25)
Q3 = df_target_1['AGE'].quantile(0.75)
IQR = Q3 - Q1
print(IQR)

In [ ]:
Min_value1 = (Q1 - 1.5 * IQR)
Max_value1 = (Q3 + 1.5 * IQR)
print("Min value before which outlier exist: {}".format(Min_value1))
print("Max value after which outlier exist: {}".format(Max_value1))

In [ ]:
#Calculate IQR - paymnet on time 

Q1 = df_target_0['AGE'].quantile(0.25)
Q3 = df_target_0['AGE'].quantile(0.75)
IQR = Q3 - Q1
print(IQR)

In [ ]:
Min_value0 = (Q1 - 1.5 * IQR)
Max_value0 = (Q3 + 1.5 * IQR)
print("Min value before which outlier exist: {}".format(Min_value0))
print("Max value after which outlier exist: {}".format(Max_value0))

In [ ]:
# plot the graph 

plt.figure(figsize = [20,8])
sns.distplot(df_target_1[df_target_1['AGE'] <= Max_value1].AGE,label = 'Payment difficulties', hist=False)
sns.distplot(df_target_0[df_target_0['AGE'] <= Max_value0].AGE,label = 'On-Time Payments', hist=False)
plt.ticklabel_format(style='plain', axis='x')
plt.xticks(rotation = 45)
plt.legend()
plt.show()

Observations

- AGE between 20 and 40, we see there are more applicants with Payment difficulties
- where as AGE > 40 , there are more applicants with On-Time Payments

Analysis of AMT_GOODS_PRICE

In [ ]:
# IQR - pay ment diffculties 

Q1 = df_target_1['AMT_GOODS_PRICE'].quantile(0.25)
Q3 = df_target_1['AMT_GOODS_PRICE'].quantile(0.75)
IQR = Q3 - Q1
print(IQR)

In [ ]:
Min_value1 = (Q1 - 1.5 * IQR)
Max_value1 = (Q3 + 1.5 * IQR)
print("Min value before which outlier exist: {}".format(Min_value1))
print("Max value after which outlier exist: {}".format(Max_value1))

In [ ]:
# IQR - pay ment on time 

Q1 = df_target_0['AMT_GOODS_PRICE'].quantile(0.25)
Q3 = df_target_0['AMT_GOODS_PRICE'].quantile(0.75)
IQR = Q3 - Q1
print(IQR)

In [ ]:
Min_value0 = (Q1 - 1.5 * IQR)
Max_value0 = (Q3 + 1.5 * IQR)
print("Min value before which outlier exist: {}".format(Min_value0))
print("Max value after which outlier exist: {}".format(Max_value0))

In [ ]:
# plt dist plt 

plt.figure(figsize = [20,8])
sns.distplot(df_target_1[df_target_1['AMT_GOODS_PRICE'] <= Max_value1].AMT_GOODS_PRICE,label = 'Payment difficulties', hist=False)
sns.distplot(df_target_0[df_target_0['AMT_GOODS_PRICE'] <= Max_value0].AMT_GOODS_PRICE,label = 'On-Time Payments', hist=False)
plt.ticklabel_format(style='plain', axis='x')
plt.xticks(rotation = 45)
plt.legend()
plt.show()

Observations

- For AMT_GOODS_PRICE between 20000 - 550000, there are more applincats with Payment difficulties
- Otherwise there are spikes on and off . from which we cannot conclude any observation from the trend

Analysis of DAYS_EMPLOYED

In [ ]:
# IQR - Payment difficulties 

Q1 = df_target_1['DAYS_EMPLOYED'].quantile(0.25)
Q3 = df_target_1['DAYS_EMPLOYED'].quantile(0.75)
IQR = Q3 - Q1
print(IQR)

In [ ]:
Min_value1 = (Q1 - 1.5 * IQR)
Max_value1 = (Q3 + 1.5 * IQR)
print("Min value before which outlier exist: {}".format(Min_value1))
print("Max value after which outlier exist: {}".format(Max_value1))

In [ ]:
# IQR - Payment on time 

Q1 = df_target_0['DAYS_EMPLOYED'].quantile(0.25)
Q3 = df_target_0['DAYS_EMPLOYED'].quantile(0.75)
IQR = Q3 - Q1
print(IQR)

In [ ]:
Min_value0 = (Q1 - 1.5 * IQR)
Max_value0 = (Q3 + 1.5 * IQR)
print("Min value before which outlier exist: {}".format(Min_value0))
print("Max value after which outlier exist: {}".format(Max_value0))

In [ ]:
plt.figure(figsize = [20,8])
sns.distplot(df_target_1[df_target_1['DAYS_EMPLOYED'] <= Max_value1].DAYS_EMPLOYED,label = 'Payment difficulties', hist=False)
sns.distplot(df_target_0[df_target_0['DAYS_EMPLOYED'] <= Max_value0].DAYS_EMPLOYED,label = 'On-Time Payments', hist=False)
plt.ticklabel_format(style='plain', axis='x')
plt.xticks(rotation = 45)
plt.legend()
plt.show()

In [ ]:
# do chcek for years employed as well 


# IQR - Payment difficulties 

Q1 = df_target_1['YEAR_EMPLOYED'].quantile(0.25)
Q3 = df_target_1['YEAR_EMPLOYED'].quantile(0.75)
IQR = Q3 - Q1
print(IQR)

Min_value1 = (Q1 - 1.5 * IQR)
Max_value1 = (Q3 + 1.5 * IQR)
print("Min value before which outlier exist: {}".format(Min_value1))
print("Max value after which outlier exist: {}".format(Max_value1))

In [ ]:

# IQR - Payment on time 

Q1 = df_target_0['YEAR_EMPLOYED'].quantile(0.25)
Q3 = df_target_0['YEAR_EMPLOYED'].quantile(0.75)
IQR = Q3 - Q1
print(IQR)

Min_value0 = (Q1 - 1.5 * IQR)
Max_value0 = (Q3 + 1.5 * IQR)
print("Min value before which outlier exist: {}".format(Min_value0))
print("Max value after which outlier exist: {}".format(Max_value0))

In [ ]:
plt.figure(figsize = [20,8])
sns.distplot(df_target_1[df_target_1['YEAR_EMPLOYED'] <= Max_value1].YEAR_EMPLOYED,label = 'Payment difficulties', hist=False)
sns.distplot(df_target_0[df_target_0['YEAR_EMPLOYED'] <= Max_value0].YEAR_EMPLOYED,label = 'On-Time Payments', hist=False)
plt.ticklabel_format(style='plain', axis='x')
plt.xticks(rotation = 45)
plt.legend()
plt.show()

Observations

- For DAYS_EMPLOYED less than 2000, there are more applicants with Payment difficulties
- for DAYS_EMPLOYED > 2000 , there are more applicants with On-Time Payments

OR in other words we can also look at it has ; 
- For YEAR_EMPLOYED less than 7, there are more applicants with Payment difficulties
- for YEAR_EMPLOYED > 7 , there are more applicants with On-Time Payments


This means that those who are employed longer have better chances of repaying the loan / ontime payment is done


Analysis of CNT_CHILDREN

In [ ]:
# IQR - payment difficulties 

Q1 = df_target_1['CNT_CHILDREN'].quantile(0.25)
Q3 = df_target_1['CNT_CHILDREN'].quantile(0.75)
IQR = Q3 - Q1
print(IQR)


Min_value1 = (Q1 - 1.5 * IQR)
Max_value1 = (Q3 + 1.5 * IQR)
print("Min value before which outlier exist: {}".format(Min_value1))
print("Max value after which outlier exist: {}".format(Max_value1))

In [ ]:
# IQR - payment on time 

Q1 = df_target_0['CNT_CHILDREN'].quantile(0.25)
Q3 = df_target_0['CNT_CHILDREN'].quantile(0.75)
IQR = Q3 - Q1
print(IQR)


Min_value0 = (Q1 - 1.5 * IQR)
Max_value0 = (Q3 + 1.5 * IQR)
print("Min value before which outlier exist: {}".format(Min_value0))
print("Max value after which outlier exist: {}".format(Max_value0))

In [ ]:
# plt the graph 

plt.figure(figsize = [20,8])
sns.distplot(df_target_1[df_target_1['CNT_CHILDREN'] <= Max_value1].CNT_CHILDREN,label = 'Payment difficulties', hist=False)
sns.distplot(df_target_0[df_target_0['CNT_CHILDREN'] <= Max_value0].CNT_CHILDREN,label = 'On-Time Payments', hist=False)
plt.ticklabel_format(style='plain', axis='x')
plt.xticks(rotation = 45)
plt.legend()
plt.show()

Observation:
    
 - There are spikes on and off . from which we cannot conclude any observation from the trend
 - One which stand out is , with 0 children the on time payment applicants are way high


Analysis of AMT_INCOME_TOTAL

In [ ]:
# IQR - payment difficulty 

Q1 = df_target_1['AMT_INCOME_TOTAL'].quantile(0.25)
Q3 = df_target_1['AMT_INCOME_TOTAL'].quantile(0.75)
IQR = Q3 - Q1
print(IQR)


Min_value1 = (Q1 - 1.5 * IQR)
Max_value1 = (Q3 + 1.5 * IQR)
print("Min value before which outlier exist: {}".format(Min_value1))
print("Max value after which outlier exist: {}".format(Max_value1))

In [ ]:
# IQR - payment on time 

Q1 = df_target_0['AMT_INCOME_TOTAL'].quantile(0.25)
Q3 = df_target_0['AMT_INCOME_TOTAL'].quantile(0.75)
IQR = Q3 - Q1
print(IQR)


Min_value0 = (Q1 - 1.5 * IQR)
Max_value0 = (Q3 + 1.5 * IQR)
print("Min value before which outlier exist: {}".format(Min_value0))
print("Max value after which outlier exist: {}".format(Max_value0))

In [ ]:
plt.figure(figsize = [20,8])
sns.distplot(df_target_1[df_target_1['AMT_INCOME_TOTAL'] <= Max_value1].AMT_INCOME_TOTAL,label = 'Payment difficulties', hist=False)
sns.distplot(df_target_0[df_target_0['AMT_INCOME_TOTAL'] <= Max_value0].AMT_INCOME_TOTAL,label = 'On-Time Payments', hist=False)
plt.ticklabel_format(style='plain', axis='x')
plt.xticks(rotation = 45)
plt.legend()
plt.show()

Observations : 

- Based on AMT_INCOME_TOTAL, for applicants with Payment difficulties the distribution resembles a normal distribution approximately
- But for applicants with On-Time Payments, there are spikes in the distribution which don't give any valid observations

# Bivariate/Multivariate analysis





Analysis of AMT_GOODS_PRICE V/S AMT_CREDIT

In [ ]:
df_target_1.info()

In [ ]:
# IQR - payment difficulty 

Q1 = df_target_1['AMT_GOODS_PRICE'].quantile(0.25)
Q3 = df_target_1['AMT_GOODS_PRICE'].quantile(0.75)
IQR = Q3 - Q1
print(IQR)


Min_value1 = (Q1 - 1.5 * IQR)
Max_value1 = (Q3 + 1.5 * IQR)
print("Min value before which outlier exist: {}".format(Min_value1))
print("Max value after which outlier exist: {}".format(Max_value1))

In [ ]:
# IQR - payment difficulty 

Q1 = df_target_1['AMT_CREDIT'].quantile(0.25)
Q3 = df_target_1['AMT_CREDIT'].quantile(0.75)
IQR = Q3 - Q1
print(IQR)


Min_value2 = (Q1 - 1.5 * IQR)
Max_value2 = (Q3 + 1.5 * IQR)
print("Min value before which outlier exist: {}".format(Min_value2))
print("Max value after which outlier exist: {}".format(Max_value2))

In [ ]:
# IQR - payment on time 

Q1 = df_target_0['AMT_GOODS_PRICE'].quantile(0.25)
Q3 = df_target_0['AMT_GOODS_PRICE'].quantile(0.75)
IQR = Q3 - Q1
print(IQR)


Min_value0 = (Q1 - 1.5 * IQR)
Max_value0 = (Q3 + 1.5 * IQR)
print("Min value before which outlier exist: {}".format(Min_value0))
print("Max value after which outlier exist: {}".format(Max_value0))

In [ ]:
# IQR - payment on time 

Q1 = df_target_0['AMT_CREDIT'].quantile(0.25)
Q3 = df_target_0['AMT_CREDIT'].quantile(0.75)
IQR = Q3 - Q1
print(IQR)


Min_value02= (Q1 - 1.5 * IQR)
Max_value02 = (Q3 + 1.5 * IQR)
print("Min value before which outlier exist: {}".format(Min_value02))
print("Max value after which outlier exist: {}".format(Max_value02))

In [ ]:
# plt the graph 

plt.figure(figsize = [20,8])

plt.subplot(1,2,1)
plt.title('Payment difficulties')
sns.scatterplot(x = df_target_1[df_target_1['AMT_GOODS_PRICE'] < Max_value1].AMT_GOODS_PRICE, 
                y = df_target_1[df_target_1['AMT_CREDIT'] < Max_value2].AMT_CREDIT, data = df_target_1)
plt.ticklabel_format(style='plain', axis='x')
plt.ticklabel_format(style='plain', axis='y')

plt.subplot(1,2,2)
plt.title('On-Time Payments')
sns.scatterplot(x = df_target_0[df_target_0['AMT_GOODS_PRICE'] < Max_value0].AMT_GOODS_PRICE, 
                y = df_target_0[df_target_0['AMT_CREDIT'] < Max_value02].AMT_CREDIT, data = df_target_0)
plt.ticklabel_format(style='plain', axis='x')
plt.ticklabel_format(style='plain', axis='y')

plt.tight_layout(pad = 4)
plt.show()

Observation  : 
    
 - AMT_GOODS_PRICE and AMT_CREDIT have strong positive correlation. 
 - This means that as Goods price increases, so does Credit Amount

Analysis of AMT_ANNUITY V/S AMT_CREDIT

In [ ]:
# IQR - payment difficulty 

Q1 = df_target_1['AMT_ANNUITY'].quantile(0.25)
Q3 = df_target_1['AMT_ANNUITY'].quantile(0.75)
IQR = Q3 - Q1
print(IQR)


Min_value1 = (Q1 - 1.5 * IQR)
Max_value1 = (Q3 + 1.5 * IQR)
print("Min value before which outlier exist: {}".format(Min_value1))
print("Max value after which outlier exist: {}".format(Max_value1))

In [ ]:
# IQR - payment difficulty 

Q1 = df_target_1['AMT_CREDIT'].quantile(0.25)
Q3 = df_target_1['AMT_CREDIT'].quantile(0.75)
IQR = Q3 - Q1
print(IQR)


Min_value12 = (Q1 - 1.5 * IQR)
Max_value12 = (Q3 + 1.5 * IQR)
print("Min value before which outlier exist: {}".format(Min_value12))
print("Max value after which outlier exist: {}".format(Max_value12))

In [ ]:
# IQR - payment on time 

Q1 = df_target_0['AMT_ANNUITY'].quantile(0.25)
Q3 = df_target_0['AMT_ANNUITY'].quantile(0.75)
IQR = Q3 - Q1
print(IQR)


Min_value0 = (Q1 - 1.5 * IQR)
Max_value0 = (Q3 + 1.5 * IQR)
print("Min value before which outlier exist: {}".format(Min_value0))
print("Max value after which outlier exist: {}".format(Max_value0))

In [ ]:
# IQR - payment on time 

Q1 = df_target_0['AMT_CREDIT'].quantile(0.25)
Q3 = df_target_0['AMT_CREDIT'].quantile(0.75)
IQR = Q3 - Q1
print(IQR)


Min_value02 = (Q1 - 1.5 * IQR)
Max_value02 = (Q3 + 1.5 * IQR)
print("Min value before which outlier exist: {}".format(Min_value02))
print("Max value after which outlier exist: {}".format(Max_value02))

In [ ]:
#  plt the graph 

plt.figure(figsize = [20,8])

plt.subplot(1,2,1)
plt.title('Payment difficulties')
sns.scatterplot(x = df_target_1[df_target_1['AMT_ANNUITY'] < Max_value1].AMT_ANNUITY, 
                y = df_target_1[df_target_1['AMT_CREDIT'] < Max_value12].AMT_CREDIT, data = df_target_1)
plt.ticklabel_format(style='plain', axis='x')
plt.ticklabel_format(style='plain', axis='y')

plt.subplot(1,2,2)
plt.title('On-Time Payments')
sns.scatterplot(x = df_target_0[df_target_0['AMT_ANNUITY'] < Max_value0].AMT_ANNUITY, 
                y = df_target_0[df_target_0['AMT_CREDIT'] < Max_value02].AMT_CREDIT, data = df_target_0)
plt.ticklabel_format(style='plain', axis='x')
plt.ticklabel_format(style='plain', axis='y')

plt.tight_layout(pad = 4)
plt.show()

Observations

AMT_ANNUITY and AMT_CREDIT have strong positive correlation. 
This means that as Annuity Amount increases, so does Credit Amount

Analysis of YEAR_EMPLOYED V/S AMT_INCOME_TOTAL

In [ ]:
# IQR - payment difficulty 

Q1 = df_target_1['YEAR_EMPLOYED'].quantile(0.25)
Q3 = df_target_1['YEAR_EMPLOYED'].quantile(0.75)
IQR = Q3 - Q1
print(IQR)


Min_value1 = (Q1 - 1.5 * IQR)
Max_value1 = (Q3 + 1.5 * IQR)
print("Min value before which outlier exist: {}".format(Min_value1))
print("Max value after which outlier exist: {}".format(Max_value1))

In [ ]:
# IQR - payment difficulty 

Q1 = df_target_1['AMT_INCOME_TOTAL'].quantile(0.25)
Q3 = df_target_1['AMT_INCOME_TOTAL'].quantile(0.75)
IQR = Q3 - Q1
print(IQR)


Min_value12= (Q1 - 1.5 * IQR)
Max_value12 = (Q3 + 1.5 * IQR)
print("Min value before which outlier exist: {}".format(Min_value12))
print("Max value after which outlier exist: {}".format(Max_value12))

In [ ]:
# IQR - payment on time 

Q1 = df_target_0['YEAR_EMPLOYED'].quantile(0.25)
Q3 = df_target_0['YEAR_EMPLOYED'].quantile(0.75)
IQR = Q3 - Q1
print(IQR)


Min_value0 = (Q1 - 1.5 * IQR)
Max_value0 = (Q3 + 1.5 * IQR)
print("Min value before which outlier exist: {}".format(Min_value0))
print("Max value after which outlier exist: {}".format(Max_value0))

In [ ]:
# IQR - payment on time 

Q1 = df_target_0['AMT_INCOME_TOTAL'].quantile(0.25)
Q3 = df_target_0['AMT_INCOME_TOTAL'].quantile(0.75)
IQR = Q3 - Q1
print(IQR)


Min_value02 = (Q1 - 1.5 * IQR)
Max_value02 = (Q3 + 1.5 * IQR)
print("Min value before which outlier exist: {}".format(Min_value02))
print("Max value after which outlier exist: {}".format(Max_value02))

In [ ]:


#  plt the graph 

plt.figure(figsize = [20,8])

plt.subplot(1,2,1)
plt.title('Payment difficulties')
sns.scatterplot(x = df_target_1[df_target_1['YEAR_EMPLOYED'] < Max_value1].YEAR_EMPLOYED, 
                y = df_target_1[df_target_1['AMT_INCOME_TOTAL'] < Max_value12].AMT_INCOME_TOTAL, data = df_target_1)
plt.ticklabel_format(style='plain', axis='x')
plt.ticklabel_format(style='plain', axis='y')

plt.subplot(1,2,2)
plt.title('On-Time Payments')
sns.scatterplot(x = df_target_0[df_target_0['YEAR_EMPLOYED'] < Max_value0].YEAR_EMPLOYED, 
                y = df_target_0[df_target_0['AMT_INCOME_TOTAL'] < Max_value02].AMT_INCOME_TOTAL, data = df_target_0)
plt.ticklabel_format(style='plain', axis='x')
plt.ticklabel_format(style='plain', axis='y')

plt.tight_layout(pad = 4)
plt.show()

Observation: 
   - applicants who are employed for a long time are making their payments on-time

Analysis of AMT_CREDIT V/S DAYS_BIRTH

In [ ]:
# IQR - payment difficulty 

Q1 = df_target_1['DAYS_BIRTH'].quantile(0.25)
Q3 = df_target_1['DAYS_BIRTH'].quantile(0.75)
IQR = Q3 - Q1
print(IQR)


Min_value1 = (Q1 - 1.5 * IQR)
Max_value1 = (Q3 + 1.5 * IQR)
print("Min value before which outlier exist: {}".format(Min_value1))
print("Max value after which outlier exist: {}".format(Max_value1))

In [ ]:
# IQR - payment difficulty 

Q1 = df_target_1['AMT_CREDIT'].quantile(0.25)
Q3 = df_target_1['AMT_CREDIT'].quantile(0.75)
IQR = Q3 - Q1
print(IQR)


Min_value12= (Q1 - 1.5 * IQR)
Max_value12 = (Q3 + 1.5 * IQR)
print("Min value before which outlier exist: {}".format(Min_value12))
print("Max value after which outlier exist: {}".format(Max_value12))

In [ ]:
# IQR - payment on time 

Q1 = df_target_0['DAYS_BIRTH'].quantile(0.25)
Q3 = df_target_0['DAYS_BIRTH'].quantile(0.75)
IQR = Q3 - Q1
print(IQR)


Min_value0 = (Q1 - 1.5 * IQR)
Max_value0 = (Q3 + 1.5 * IQR)
print("Min value before which outlier exist: {}".format(Min_value0))
print("Max value after which outlier exist: {}".format(Max_value0))

In [ ]:
# IQR - payment on time 

Q1 = df_target_0['AMT_CREDIT'].quantile(0.25)
Q3 = df_target_0['AMT_CREDIT'].quantile(0.75)
IQR = Q3 - Q1
print(IQR)


Min_value02 = (Q1 - 1.5 * IQR)
Max_value02 = (Q3 + 1.5 * IQR)
print("Min value before which outlier exist: {}".format(Min_value02))
print("Max value after which outlier exist: {}".format(Max_value02))

In [ ]:
#  plt the graph 

plt.figure(figsize = [20,8])

plt.subplot(1,2,1)
plt.title('Payment difficulties')
sns.scatterplot(x = df_target_1[df_target_1['DAYS_BIRTH'] < Max_value1].DAYS_BIRTH, 
                y = df_target_1[df_target_1['AMT_CREDIT'] < Max_value12].AMT_CREDIT, data = df_target_1)
plt.ticklabel_format(style='plain', axis='x')
plt.ticklabel_format(style='plain', axis='y')

plt.subplot(1,2,2)
plt.title('On-Time Payments')
sns.scatterplot(x = df_target_0[df_target_0['DAYS_BIRTH'] < Max_value0].DAYS_BIRTH, 
                y = df_target_0[df_target_0['AMT_CREDIT'] < Max_value02].AMT_CREDIT, data = df_target_0)
plt.ticklabel_format(style='plain', axis='x')
plt.ticklabel_format(style='plain', axis='y')

plt.tight_layout(pad = 4)
plt.show()

Obsesrvations : 
    
 Nothing to co relate here

Analysis of AMT_ANNUITY V/S AMT_GOODS_PRICE

In [ ]:
# IQR - payment difficulty 

Q1 = df_target_1['AMT_ANNUITY'].quantile(0.25)
Q3 = df_target_1['AMT_ANNUITY'].quantile(0.75)
IQR = Q3 - Q1
print(IQR)


Min_value1 = (Q1 - 1.5 * IQR)
Max_value1 = (Q3 + 1.5 * IQR)
print("Min value before which outlier exist: {}".format(Min_value1))
print("Max value after which outlier exist: {}".format(Max_value1))


# IQR - payment difficulty 

Q1 = df_target_1['AMT_GOODS_PRICE'].quantile(0.25)
Q3 = df_target_1['AMT_GOODS_PRICE'].quantile(0.75)
IQR = Q3 - Q1
print(IQR)


Min_value12= (Q1 - 1.5 * IQR)
Max_value12 = (Q3 + 1.5 * IQR)
print("Min value before which outlier exist: {}".format(Min_value12))
print("Max value after which outlier exist: {}".format(Max_value12))

In [ ]:
# IQR - payment on time 

Q1 = df_target_0['AMT_ANNUITY'].quantile(0.25)
Q3 = df_target_0['AMT_ANNUITY'].quantile(0.75)
IQR = Q3 - Q1
print(IQR)


Min_value0 = (Q1 - 1.5 * IQR)
Max_value0 = (Q3 + 1.5 * IQR)
print("Min value before which outlier exist: {}".format(Min_value0))
print("Max value after which outlier exist: {}".format(Max_value0))


# IQR - payment on time 

Q1 = df_target_0['AMT_GOODS_PRICE'].quantile(0.25)
Q3 = df_target_0['AMT_GOODS_PRICE'].quantile(0.75)
IQR = Q3 - Q1
print(IQR)


Min_value02 = (Q1 - 1.5 * IQR)
Max_value02 = (Q3 + 1.5 * IQR)
print("Min value before which outlier exist: {}".format(Min_value02))
print("Max value after which outlier exist: {}".format(Max_value02))

In [ ]:
#  plt the graph 

plt.figure(figsize = [20,8])

plt.subplot(1,2,1)
plt.title('Payment difficulties')
sns.scatterplot(x = df_target_1[df_target_1['AMT_ANNUITY'] < Max_value1].AMT_ANNUITY, 
                y = df_target_1[df_target_1['AMT_GOODS_PRICE'] < Max_value12].AMT_GOODS_PRICE, data = df_target_1)
plt.ticklabel_format(style='plain', axis='x')
plt.ticklabel_format(style='plain', axis='y')

plt.subplot(1,2,2)
plt.title('On-Time Payments')
sns.scatterplot(x = df_target_0[df_target_0['AMT_ANNUITY'] < Max_value0].AMT_ANNUITY, 
                y = df_target_0[df_target_0['AMT_GOODS_PRICE'] < Max_value02].AMT_GOODS_PRICE, data = df_target_0)
plt.ticklabel_format(style='plain', axis='x')
plt.ticklabel_format(style='plain', axis='y')

plt.tight_layout(pad = 4)
plt.show()

Observations

AMT_ANNUITY and AMT_GOODS_PRICE have strong positive correlation. 

This means that as Annuity increases, so does Goods Price



Analysis of NAME_EDUCATION_TYPE V/S AMT_CREDIT V/S CODE_GENDER

In [ ]:
# IQR - payment difficulty 

Q1 = df_target_1['AMT_CREDIT'].quantile(0.25)
Q3 = df_target_1['AMT_CREDIT'].quantile(0.75)
IQR = Q3 - Q1
print(IQR)


Min_value1 = (Q1 - 1.5 * IQR)
Max_value1 = (Q3 + 1.5 * IQR)
print("Min value before which outlier exist: {}".format(Min_value1))
print("Max value after which outlier exist: {}".format(Max_value1))

In [ ]:
# IQR - payment ON TIME 
Q1 = df_target_0['AMT_CREDIT'].quantile(0.25)
Q3 = df_target_0['AMT_CREDIT'].quantile(0.75)
IQR = Q3 - Q1
print(IQR)


Min_value0 = (Q1 - 1.5 * IQR)
Max_value0 = (Q3 + 1.5 * IQR)
print("Min value before which outlier exist: {}".format(Min_value0))
print("Max value after which outlier exist: {}".format(Max_value0))

In [ ]:
# PIVOT TABLE - group by using the category variables  - with payment diffculty 

df_target_1.groupby(by = ['NAME_EDUCATION_TYPE','CODE_GENDER']).AMT_CREDIT.describe()

In [ ]:
# PIVOT TABLE - group by using the category variables  - with payment on time 

df_target_0.groupby(by = ['NAME_EDUCATION_TYPE','CODE_GENDER']).AMT_CREDIT.describe()

In [ ]:
# plt the tabel 

plt.figure(figsize = [20,12])

plt.subplot(1,2,1)
plt.title('Payment Difficulties')
red_diamond = dict(markerfacecolor='r', marker='D')
sns.boxplot(x = 'NAME_EDUCATION_TYPE', 
                y = df_target_1[df_target_1['AMT_CREDIT'] < Max_value1]['AMT_CREDIT'], 
                data = df_target_1, 
                flierprops = red_diamond, 
                order = sorted(df_target_1['NAME_EDUCATION_TYPE'].unique(), reverse = True),
                hue = 'CODE_GENDER', hue_order = sorted(df_target_1['CODE_GENDER'].unique(), reverse = True))
plt.ticklabel_format(style='plain', axis='y')
plt.xticks(rotation=90)

plt.subplot(1,2,2)
plt.title('On-Time Payments')
sns.boxplot(x = 'NAME_EDUCATION_TYPE', 
                y = df_target_0[df_target_0['AMT_CREDIT'] < Max_value0]['AMT_CREDIT'], 
                data = df_target_0, 
                flierprops = red_diamond, 
                order = sorted(df_target_0['NAME_EDUCATION_TYPE'].unique(), reverse = True),
                hue = 'CODE_GENDER', hue_order = sorted(df_target_0['CODE_GENDER'].unique(), reverse = True))
plt.ticklabel_format(style='plain', axis='y')
plt.xticks(rotation=90)

plt.tight_layout(pad = 4)
plt.show()

Observations: 

- Applicants with Academic Degree have a wide range of credits for On-Time Payments whereas the range is much lower for ones with Payment difficulties

- Applicants with Academic Degree and Payment difficulties take mean and median credit at a much higher range than On-Time Payment applicnats

- Male applicants with Academic Degree always pay the loan on-time ; we see none under payment difficulties

-

Analysis of NAME_FAMILY_STATUS V/S AMT_INCOME_TOTAL V/S CODE_GENDER

In [ ]:

# IQR - payment difficulty 

Q1 = df_target_1['AMT_INCOME_TOTAL'].quantile(0.25)
Q3 = df_target_1['AMT_INCOME_TOTAL'].quantile(0.75)
IQR = Q3 - Q1
print(IQR)


Min_value1 = (Q1 - 1.5 * IQR)
Max_value1 = (Q3 + 1.5 * IQR)
print("Min value before which outlier exist: {}".format(Min_value1))
print("Max value after which outlier exist: {}".format(Max_value1))

In [ ]:

# IQR - payment on time 

Q1 = df_target_0['AMT_INCOME_TOTAL'].quantile(0.25)
Q3 = df_target_0['AMT_INCOME_TOTAL'].quantile(0.75)
IQR = Q3 - Q1
print(IQR)


Min_value0 = (Q1 - 1.5 * IQR)
Max_value0 = (Q3 + 1.5 * IQR)
print("Min value before which outlier exist: {}".format(Min_value0))
print("Max value after which outlier exist: {}".format(Max_value0))

In [ ]:
# # PIVOT TABLE - group by using the category variables  - with payment difficulties 

df_target_1.groupby(by = ['NAME_FAMILY_STATUS','CODE_GENDER']).AMT_INCOME_TOTAL.describe()

In [ ]:
# # PIVOT TABLE - group by using the category variables  - with payment on time 

df_target_0.groupby(by = ['NAME_FAMILY_STATUS','CODE_GENDER']).AMT_INCOME_TOTAL.describe()

In [ ]:
# plt the tabel 

plt.figure(figsize = [20,12])

plt.subplot(1,2,1)
plt.title('Payment Difficulties')
red_diamond = dict(markerfacecolor='r', marker='D')
sns.boxplot(x = 'NAME_FAMILY_STATUS', 
                y = df_target_1[df_target_1['AMT_INCOME_TOTAL'] < Max_value1]['AMT_INCOME_TOTAL'], 
                data = df_target_1, 
                flierprops = red_diamond, 
                order = sorted(df_target_1['NAME_FAMILY_STATUS'].unique(), reverse = True),
                hue = 'CODE_GENDER', hue_order = sorted(df_target_1['CODE_GENDER'].unique(), reverse = True))
plt.ticklabel_format(style='plain', axis='y')
plt.xticks(rotation=90)

plt.subplot(1,2,2)
plt.title('On-Time Payments')
sns.boxplot(x = 'NAME_FAMILY_STATUS', 
                y = df_target_0[df_target_0['AMT_INCOME_TOTAL'] < Max_value0]['AMT_INCOME_TOTAL'], 
                data = df_target_0, 
                flierprops = red_diamond, 
                order = sorted(df_target_0['NAME_FAMILY_STATUS'].unique(), reverse = True),
                hue = 'CODE_GENDER', hue_order = sorted(df_target_0['CODE_GENDER'].unique(), reverse = True))
plt.ticklabel_format(style='plain', axis='y')
plt.xticks(rotation=90)

plt.tight_layout(pad = 4)
plt.show()

Observations : 

- Married applicants ( Male ) have a slightly higher mean/median income with Ontime Payments than Payment difficulties category
- Single - Not Married / Separted / Married / Civil Marriage applicants ( Female ) all have the same mean / medain income with Ontime Payments than Payment difficulties category

Analysis of AGE_CATEGORY V/S AMT_INCOME_TOTAL V/S NAME_HOUSING_TYPE

In [ ]:

# IQR - payment difficulty 

Q1 = df_target_1['AMT_INCOME_TOTAL'].quantile(0.25)
Q3 = df_target_1['AMT_INCOME_TOTAL'].quantile(0.75)
IQR = Q3 - Q1
print(IQR)


Min_value1 = (Q1 - 1.5 * IQR)
Max_value1 = (Q3 + 1.5 * IQR)
print("Min value before which outlier exist: {}".format(Min_value1))
print("Max value after which outlier exist: {}".format(Max_value1))

In [ ]:

# IQR - payment on time 

Q1 = df_target_0['AMT_INCOME_TOTAL'].quantile(0.25)
Q3 = df_target_0['AMT_INCOME_TOTAL'].quantile(0.75)
IQR = Q3 - Q1
print(IQR)


Min_value0 = (Q1 - 1.5 * IQR)
Max_value0 = (Q3 + 1.5 * IQR)
print("Min value before which outlier exist: {}".format(Min_value0))
print("Max value after which outlier exist: {}".format(Max_value0))

In [ ]:
# # PIVOT TABLE - group by using the category variables  - with payment difficulties 

df_target_1.groupby(by = ['AGE_CATEGORY','NAME_HOUSING_TYPE']).AMT_INCOME_TOTAL.describe()

In [ ]:
# # PIVOT TABLE - group by using the category variables  - with payment on time 

df_target_0.groupby(by = ['AGE_CATEGORY','NAME_HOUSING_TYPE']).AMT_INCOME_TOTAL.describe()

In [ ]:

plt.figure(figsize = [20,12])

plt.subplot(1,2,1)
plt.title('Payment Difficulties')
red_diamond = dict(markerfacecolor='r', marker='D')
sns.boxplot(x = 'AGE_CATEGORY', 
                y = df_target_1[df_target_1['AMT_INCOME_TOTAL'] < Max_value1]['AMT_INCOME_TOTAL'], 
                data = df_target_1, 
                flierprops = red_diamond, 
                order = sorted(df_target_1['AGE_CATEGORY'].unique(), reverse = True),
                hue = 'NAME_HOUSING_TYPE', hue_order = sorted(df_target_1['NAME_HOUSING_TYPE'].unique(), reverse = True))
plt.ticklabel_format(style='plain', axis='y')
plt.xticks(rotation=90)

plt.subplot(1,2,2)
plt.title('On-Time Payments')
sns.boxplot(x = 'AGE_CATEGORY', 
                y = df_target_0[df_target_0['AMT_INCOME_TOTAL'] < Max_value0]['AMT_INCOME_TOTAL'], 
                data = df_target_0, 
                flierprops = red_diamond, 
                order = sorted(df_target_0['AGE_CATEGORY'].unique(), reverse = True),
                hue = 'NAME_HOUSING_TYPE', hue_order = sorted(df_target_0['NAME_HOUSING_TYPE'].unique(), reverse = True))
plt.ticklabel_format(style='plain', axis='y')
plt.xticks(rotation=90)

plt.tight_layout(pad = 4)
plt.show()

Observations : 

- Applicants with age 60-70 and 30-40 ; living in Co-op apartment have very high income range in Payment difficulties category than On-Time Payments

- Applicants with age 20-30 and living in Office apartment have very higher income median in On-Time Payments compared to Payment difficulties category

Analysis of NAME_INCOME_TYPE V/S AMT_GOODS_PRICE V/S CODE_GENDER

In [ ]:

# IQR - payment difficulty 

Q1 = df_target_1['AMT_GOODS_PRICE'].quantile(0.25)
Q3 = df_target_1['AMT_GOODS_PRICE'].quantile(0.75)
IQR = Q3 - Q1
print(IQR)


Min_value1 = (Q1 - 1.5 * IQR)
Max_value1 = (Q3 + 1.5 * IQR)
print("Min value before which outlier exist: {}".format(Min_value1))
print("Max value after which outlier exist: {}".format(Max_value1))

In [ ]:

# IQR - payment on time 

Q1 = df_target_0['AMT_GOODS_PRICE'].quantile(0.25)
Q3 = df_target_0['AMT_GOODS_PRICE'].quantile(0.75)
IQR = Q3 - Q1
print(IQR)


Min_value0 = (Q1 - 1.5 * IQR)
Max_value0 = (Q3 + 1.5 * IQR)
print("Min value before which outlier exist: {}".format(Min_value0))
print("Max value after which outlier exist: {}".format(Max_value0))

In [ ]:
# # PIVOT TABLE - group by using the category variables  - with payment difficulties 

df_target_1.groupby(by = ['NAME_INCOME_TYPE','CODE_GENDER']).AMT_GOODS_PRICE.describe()

In [ ]:
# # PIVOT TABLE - group by using the category variables  - with payment on time 

df_target_0.groupby(by = ['NAME_INCOME_TYPE','CODE_GENDER']).AMT_GOODS_PRICE.describe()

In [ ]:
plt.figure(figsize = [20,12])

plt.subplot(1,2,1)
plt.title('Payment Difficulties')
red_diamond = dict(markerfacecolor='r', marker='D')
sns.boxplot(x = 'NAME_INCOME_TYPE', 
                y = df_target_1[df_target_1['AMT_GOODS_PRICE'] < Max_value1]['AMT_GOODS_PRICE'], 
                data = df_target_1, 
                flierprops = red_diamond, 
                order = sorted(df_target_1['NAME_INCOME_TYPE'].unique(), reverse = True),
                hue = 'CODE_GENDER', hue_order = sorted(df_target_1['CODE_GENDER'].unique(), reverse = True))
plt.ticklabel_format(style='plain', axis='y')
plt.xticks(rotation=90)

plt.subplot(1,2,2)
plt.title('On-Time Payments')
sns.boxplot(x = 'NAME_INCOME_TYPE', 
                y = df_target_0[df_target_0['AMT_GOODS_PRICE'] < Max_value0]['AMT_GOODS_PRICE'], 
                data = df_target_0, 
                flierprops = red_diamond, 
                order = sorted(df_target_0['NAME_INCOME_TYPE'].unique(), reverse = True),
                hue = 'CODE_GENDER', hue_order = sorted(df_target_0['CODE_GENDER'].unique(), reverse = True))
plt.ticklabel_format(style='plain', axis='y')
plt.xticks(rotation=90)

plt.tight_layout(pad = 4)
plt.show()

Observations : 

- Applicants  who are Unemployed and Male have a very high price of goods in On-Time Payments than Payment difficulties

- Applicants who are Student and either Male OR Female do their payments On-Time. 
  They are completely missing from Payment difficulties category. 
 
- Applicants who are Businessman and either Male OR Female do their payments On-Time. 
  They are completely missing from Payment difficulties category. 
  
- Applicants who are Working and either Male OR Female have the mean /median in both  On-Time Payments than Payment difficulties

- Applicants who are Maternity Levaes and only Females do their payments on time. 
  They are missing from Payment difficulties category. 
  
Conclusion : 

Studnts and Businessman seems to be an attractive category to give loans to , since they pay on time .

Analysis of NAME_INCOME_TYPE V/S AMT_INCOME_TOTAL V/S CODE_GENDER

In [ ]:

# IQR - payment difficulty 

Q1 = df_target_1['AMT_INCOME_TOTAL'].quantile(0.25)
Q3 = df_target_1['AMT_INCOME_TOTAL'].quantile(0.75)
IQR = Q3 - Q1
print(IQR)


Min_value1 = (Q1 - 1.5 * IQR)
Max_value1 = (Q3 + 1.5 * IQR)
print("Min value before which outlier exist: {}".format(Min_value1))
print("Max value after which outlier exist: {}".format(Max_value1))

In [ ]:

# IQR - payment on time 

Q1 = df_target_0['AMT_INCOME_TOTAL'].quantile(0.25)
Q3 = df_target_0['AMT_INCOME_TOTAL'].quantile(0.75)
IQR = Q3 - Q1
print(IQR)


Min_value0 = (Q1 - 1.5 * IQR)
Max_value0 = (Q3 + 1.5 * IQR)
print("Min value before which outlier exist: {}".format(Min_value0))
print("Max value after which outlier exist: {}".format(Max_value0))

In [ ]:
# # PIVOT TABLE - group by using the category variables  - with payment on time 

df_target_0.groupby(by = ['NAME_INCOME_TYPE','CODE_GENDER']).AMT_INCOME_TOTAL.describe()

In [ ]:
 # PIVOT TABLE - group by using the category variables  - with payment on time 

df_target_1.groupby(by = ['NAME_INCOME_TYPE','CODE_GENDER']).AMT_INCOME_TOTAL.describe()

In [ ]:
plt.figure(figsize = [20,12])

plt.subplot(1,2,1)
plt.title('Payment Difficulties')

sns.boxplot(x = 'NAME_INCOME_TYPE', 
                y = df_target_1[df_target_1['AMT_INCOME_TOTAL'] < Max_value1]['AMT_INCOME_TOTAL'], 
                data = df_target_1,  
                order = sorted(df_target_1['NAME_INCOME_TYPE'].unique(), reverse = True),
                hue = 'CODE_GENDER', hue_order = sorted(df_target_1['CODE_GENDER'].unique(), reverse = True))
plt.ticklabel_format(style='plain', axis='y')
plt.xticks(rotation=90)

plt.subplot(1,2,2)
plt.title('On-Time Payments')
sns.boxplot(x = 'NAME_INCOME_TYPE', 
                y = df_target_0[df_target_0['AMT_INCOME_TOTAL'] < Max_value0]['AMT_INCOME_TOTAL'], 
                data = df_target_0, 
                order = sorted(df_target_0['NAME_INCOME_TYPE'].unique(), reverse = True),
                hue = 'CODE_GENDER', hue_order = sorted(df_target_0['CODE_GENDER'].unique(), reverse = True))
plt.ticklabel_format(style='plain', axis='y')
plt.xticks(rotation=90)

plt.tight_layout(pad = 4)
plt.show()

Observations

- Applicants who are Student and either Male OR Female do their payments On-Time. 
  They are completely missing from Payment difficulties category. 

- Applicants who are Businessman and either Male OR Female do their payments On-Time.
  They are completely missing from Payment difficulties category. 
  
  Businessman and Students seems to be an attractive category to give loans to.
  
  

- Applicants who are in Maternity Leave and Female have a very high income in On-Time Payments than Payment difficulties

Analysis of OCCUPATION_TYPE V/S AMT_INCOME_TOTAL V/S CODE_GENDER

In [ ]:

# IQR - payment difficulty 

Q1 = df_target_1['AMT_INCOME_TOTAL'].quantile(0.25)
Q3 = df_target_1['AMT_INCOME_TOTAL'].quantile(0.75)
IQR = Q3 - Q1
print(IQR)


Min_value1 = (Q1 - 1.5 * IQR)
Max_value1 = (Q3 + 1.5 * IQR)
print("Min value before which outlier exist: {}".format(Min_value1))
print("Max value after which outlier exist: {}".format(Max_value1))

In [ ]:

# IQR - payment on time 

Q1 = df_target_0['AMT_INCOME_TOTAL'].quantile(0.25)
Q3 = df_target_0['AMT_INCOME_TOTAL'].quantile(0.75)
IQR = Q3 - Q1
print(IQR)


Min_value0 = (Q1 - 1.5 * IQR)
Max_value0 = (Q3 + 1.5 * IQR)
print("Min value before which outlier exist: {}".format(Min_value0))
print("Max value after which outlier exist: {}".format(Max_value0))

In [ ]:
# # PIVOT TABLE - group by using the category variables  - with payment on time 

df_target_0.groupby(by = ['OCCUPATION_TYPE','CODE_GENDER']).AMT_INCOME_TOTAL.describe()

In [ ]:
# # PIVOT TABLE - group by using the category variables  - with payment diffcultities 

df_target_1.groupby(by = ['OCCUPATION_TYPE','CODE_GENDER']).AMT_INCOME_TOTAL.describe()

In [ ]:
plt.figure(figsize = [20,12])

plt.subplot(1,2,1)
plt.title('Payment Difficulties')

sns.boxplot(x = 'OCCUPATION_TYPE', 
                y = df_target_1[df_target_1['AMT_INCOME_TOTAL'] < Max_value1]['AMT_INCOME_TOTAL'], 
                data = df_target_1,  
                order = sorted(df_target_1['OCCUPATION_TYPE'].unique(), reverse = True),
                hue = 'CODE_GENDER', hue_order = sorted(df_target_1['CODE_GENDER'].unique(), reverse = True))
plt.ticklabel_format(style='plain', axis='y')
plt.xticks(rotation=90)

plt.subplot(1,2,2)
plt.title('On-Time Payments')
sns.boxplot(x = 'OCCUPATION_TYPE', 
                y = df_target_0[df_target_0['AMT_INCOME_TOTAL'] < Max_value0]['AMT_INCOME_TOTAL'], 
                data = df_target_0, 
                order = sorted(df_target_0['OCCUPATION_TYPE'].unique(), reverse = True),
                hue = 'CODE_GENDER', hue_order = sorted(df_target_0['CODE_GENDER'].unique(), reverse = True))
plt.ticklabel_format(style='plain', axis='y')
plt.xticks(rotation=90)

plt.tight_layout(pad = 4)
plt.show()

Observations : 

- Applicants who are Cleaning staff and female have more mean / median income in On-Time Payments than Payment difficulties

- Applicants who are Waiters/barment staff and female have less median income in On-Time Payments than Payment difficulties

- Applicnats who are HR Staff and Male have more median income in Payment difficulties than On-Time Payments

- Applicants who are Managers and Male have more median income in On-Time Payments than Payment difficulties

Analysis of NAME_INCOME_TYPE V/S CODE_GENDER

In [ ]:
# plt the graph between  Categorical  varibales to vizualise   

plt.figure(figsize = [20,8])
palt = sns.color_palette("bright")

plt.subplot(1,2,1)
pltname = 'Applicants with payment difficulties'
plt.title(pltname)
sns.countplot(x = 'NAME_INCOME_TYPE', data = df_target_1, 
                  order = sorted(df_target_1['NAME_INCOME_TYPE'].unique(), reverse = True), palette = palt,
                  hue = 'CODE_GENDER', hue_order = sorted(df_target_1['CODE_GENDER'].unique(), reverse = True))
plt.xticks(rotation = 90)
    
plt.subplot(1,2,2)
pltname = 'Applicants  with on-time payments'
plt.title(pltname)
sns.countplot(x = 'NAME_INCOME_TYPE', data = df_target_0 ,
                  order = sorted(df_target_0['NAME_INCOME_TYPE'].unique(), reverse = True), palette = palt,
                  hue = 'CODE_GENDER', hue_order = sorted(df_target_0['CODE_GENDER'].unique(), reverse = True))
plt.xticks(rotation = 90)
plt.tight_layout(pad = 4)
plt.show()

Observation : 
 
 - Applicants who are working and Male have more  Payment difficulties compared to On-Time Payments
 - Applicants who are Pensioner and Female have more Payment difficulties compared to On-Time Payment
 - Applicants who are Businessman, Maternity Leave and Students do their payments On-Time though their record count is low

Analysis of NAME_EDUCATION_TYPE V/S CODE_GENDER

In [ ]:
# plt the graph between  Categorical  varibales to vizualise   

plt.figure(figsize = [20,8])
palt = sns.color_palette("bright")

plt.subplot(1,2,1)
pltname = 'Applicants with payment difficulties'
plt.title(pltname)
sns.countplot(x = 'NAME_EDUCATION_TYPE', data = df_target_1, 
                  order = sorted(df_target_1['NAME_EDUCATION_TYPE'].unique(), reverse = True), palette = palt,
                  hue = 'CODE_GENDER', hue_order = sorted(df_target_1['CODE_GENDER'].unique(), reverse = True))
plt.xticks(rotation = 90)
    
plt.subplot(1,2,2)
pltname = 'Applicants  with on-time payments'
plt.title(pltname)
sns.countplot(x = 'NAME_EDUCATION_TYPE', data = df_target_0 ,
                  order = sorted(df_target_0['NAME_EDUCATION_TYPE'].unique(), reverse = True), palette = palt,
                  hue = 'CODE_GENDER', hue_order = sorted(df_target_0['CODE_GENDER'].unique(), reverse = True))
plt.xticks(rotation = 90)
plt.tight_layout(pad = 4)
plt.show()

Observations

- Applicants who have Secondary/Secondary special education and Male have more Payment difficulties compared to On-Time Payments
- Applicants who have Higher education and Female have more On-Time Payments compared to Payment difficulties
- Applicants who are Academaic degree do their payments On-Time though their record count is low

Analysis of OCCUPATION_TYPE V/S NAME_CONTRACT_TYPE

In [ ]:
# plt the graph between  Categorical  varibales to vizualise   

plt.figure(figsize = [20,8])
palt = sns.color_palette("bright")

plt.subplot(1,2,1)
pltname = 'Applicants with payment difficulties'
plt.title(pltname)
sns.countplot(x = 'OCCUPATION_TYPE', data = df_target_1, 
                  order = sorted(df_target_1['OCCUPATION_TYPE'].unique(), reverse = True), palette = palt,
                  hue = 'NAME_CONTRACT_TYPE', hue_order = sorted(df_target_1['NAME_CONTRACT_TYPE'].unique(), reverse = True))
plt.xticks(rotation = 90)
    
plt.subplot(1,2,2)
pltname = 'Applicants  with on-time payments'
plt.title(pltname)
sns.countplot(x = 'OCCUPATION_TYPE', data = df_target_0 ,
                  order = sorted(df_target_0['OCCUPATION_TYPE'].unique(), reverse = True), palette = palt,
                  hue = 'NAME_CONTRACT_TYPE', hue_order = sorted(df_target_0['NAME_CONTRACT_TYPE'].unique(), reverse = True))
plt.xticks(rotation = 90)
plt.tight_layout(pad = 4)
plt.show()

Observations: 

- applicants who are Sales staff,Laborers,Drivers and have Cash loans; having more Payment difficulties compared to On-Time Payments
- applicants who are IT staff ; have significantly no diffiuclty in payment of loan

# Corelation Analysis

In [ ]:
# plot the correlation matrix for numeric data type 

# check the size of the df 
df_target_1.select_dtypes(include=["int64","float64"]).shape

 So we see there are 66 data attributes

In [ ]:
# table for correlation of all the numeric variables 

corr_df1 = df_target_1.select_dtypes(include=["int64","float64"]).corr()

corr_df1

In [ ]:
# plt the heat map of the same 

plt.figure(figsize = (25,25))
sns.heatmap(data = corr_df1, annot = True, cmap = "RdYlGn", cbar = True, fmt='.2f')
plt.show()

In [ ]:
# plot the heat map has above , consider correlation view between  80% - 100%

plt.figure(figsize = (25,25))
sns.heatmap(data = corr_df1[(corr_df1 >= 0.8) & (corr_df1 < 0.9999)], annot = True, cmap = "RdYlGn", cbar = True, fmt='.2f')
plt.show()

In [ ]:
# Getting top 10 correlations for Payment Difficulties

corr_df1[corr_df1 <= 0.99].unstack().sort_values(ascending = False).head(25)

Obsrervation : We see duplicate entries , removing duplicates , below are the TOP 10 Correlation attributes 


  1. AMT_CREDIT , AMT_GOODS_PRICE - having 0.98
  2. REGION_RATING_CLIENT,  REGION_RATING_CLIENT_W_CITY- having 0.96
  3. CNT_FAM_MEMBERS, CNT_CHILDREN - having 0.89
  4. DEF_60_CNT_SOCIAL_CIRCLE, DEF_30_CNT_SOCIAL_CIRCLE - having 0.87
  5. REG_REGION_NOT_WORK_REGION , LIVE_REGION_NOT_WORK_REGION - having 0.85
  6. EXT_SOURCE_3, AMT_REQ_CREDIT_BUREAU_QRT - having 0.84
  7. EXT_SOURCE_3, AMT_REQ_CREDIT_BUREAU_HOUR - having 0.84
  8. EXT_SOURCE_3, AMT_REQ_CREDIT_BUREAU_DAY - having 0.84
  9. EXT_SOURCE_3, AMT_REQ_CREDIT_BUREAU_WEEK - having 0.84
  10. EXT_SOURCE_3, AMT_REQ_CREDIT_BUREAU_YEAR - having 0.84

In [ ]:
# Plotting correlation matrix for On-Time payments

corr_df0 = df_target_0.select_dtypes(include=["int64","float64"]).corr()

corr_df0

In [ ]:
# plot the heat map has above , consider correlation view between  80% - 100%

plt.figure(figsize = (25,25))
sns.heatmap(data = corr_df0[(corr_df0 >= 0.8) & (corr_df0 < 0.9999)], annot = True, cmap = "RdYlGn", cbar = True, fmt='.2f')
plt.show()

In [ ]:
# # Getting top 10 correlations for Payment  On-Time 

corr_df0[corr_df0 <= 0.99].unstack().sort_values(ascending = False).head(28)

Obsrervation : We see duplicate entries , removing duplicates , below are the TOP 10 Correlation attributes - Payment On-Time 


   1. AMT_CREDIT , AMT_GOODS_PRICE - having 0.99
   2. REGION_RATING_CLIENT,  REGION_RATING_CLIENT_W_CITY- having 0.95
   3. DEF_60_CNT_SOCIAL_CIRCLE, DEF_30_CNT_SOCIAL_CIRCLE - having 0.86
   4. REG_REGION_NOT_WORK_REGION , LIVE_REGION_NOT_WORK_REGION - having 0.86
   5. LIVE_CITY_NOT_WORK_CITY , REG_CITY_NOT_WORK_CITY - having 0.83
   6. EXT_SOURCE_3, AMT_REQ_CREDIT_BUREAU_YEAR - having 0.79
   7. EXT_SOURCE_3, AMT_REQ_CREDIT_BUREAU_QRT - having 0.79
   8. EXT_SOURCE_3, AMT_REQ_CREDIT_BUREAU_DAY - having 0.79
   9. EXT_SOURCE_3, AMT_REQ_CREDIT_BUREAU_WEEK - having 0.79
   10. EXT_SOURCE_3, AMT_REQ_CREDIT_BUREAU_HOUR - having 0.79

Observations : After comparing top 10 correlations between Payment difficulties and On-Time Payments -

1. Top 10 are almost same , expect for some minor diffrence in percentage
2. Hightest correation exists between AMT_CREDIT and AMT_GOODS_PRICE 

    2.1 where for payment difficuties observed value is 0.98
    
    2.2 where for on-time payment observed value is 0.99

# Analyze the pervious application data set

In [ ]:
# Checking few records from the dataframe
pervious_app.head()

In [ ]:
# chcek the data strutucre


pervious_app.info(verbose = True,null_counts = True)

In [ ]:

pervious_app.shape

There are 1670214 data points and 37 attributes  / varibales in teh data set

In [ ]:
# statisticalsumary of numeric variables 

pervious_app.describe()

# Analyzing categorical variables

In [ ]:
pervious_app.select_dtypes(include = "object").columns

In [ ]:
# Checking number of categorical variables
len(pervious_app.select_dtypes(include = "object").columns)

There are 16 categorical attributes out of 37 columns

# Analyzing  non - categorical variables

In [ ]:
pervious_app.select_dtypes(include=["int64","float64"]).columns

In [ ]:
len(pervious_app.select_dtypes(include=["int64","float64"]).columns)

There are 21 categorical attributes out of 37 columns

Chcek for the incorrect and misisng data from the data set

In [ ]:
pervious_app.info()

In [ ]:
pervious_app.head()

In [ ]:
# missing value exists or not 


pervious_app.isnull().values.any()

We do have missing values here , need to know the missing value presnt in the column

In [ ]:
# chcek the totla number of missing value count 
pervious_app.isnull().values.sum()

In [ ]:
## list the columns which has missing value 

len(pervious_app.columns[pervious_app.isnull().any()])

There are 16 columns consisting of misisng values

In [ ]:
# chcek the percentage of missing values on the same 

null_count = pervious_app.isnull().sum()
null_percentage = round((null_count/pervious_app.shape[0])*100, 2)

null_df = pd.DataFrame({'column_name' : pervious_app.columns,'null_count' : null_count,'null_percentage': null_percentage})
null_df.reset_index(drop = True, inplace = True)

null_df.sort_values(by = 'null_percentage', ascending = False)

In [ ]:
# will drop the columns were the missinh values is  > 40 % , like that of applications data set 

columns_deleted = null_df[null_df['null_percentage'] > 40].column_name.to_list()

columns_deleted

In [ ]:
len(columns_deleted)

There are totally 11 columns to be removed. Deleting them from previous application dataframe

In [ ]:
# drop thise 11 columns from the data set 


pervious_app.drop(columns = columns_deleted, inplace = True)

In [ ]:
pervious_app.shape

After dropping the columns we have 26 columns that can be analyzed

In [ ]:
# chcek the percentage of missign values below 40 % 

null_df[null_df['null_percentage'] < 40].sort_values(by = 'null_percentage', ascending = False)


Analysis of AMT_GOODS_PRICE column - it has 23.08% of misisgn value

In [ ]:
# look at the missign values and try imputeing if required


pervious_app.AMT_GOODS_PRICE.value_counts()

In [ ]:
pervious_app['AMT_GOODS_PRICE'].describe()

In [ ]:
sns.boxplot(pervious_app.AMT_GOODS_PRICE)
plt.show()

In [ ]:
# chcek the mode

pervious_app['AMT_GOODS_PRICE'].mode()

In [ ]:
# check the mean 

pervious_app['AMT_GOODS_PRICE'].mean()

In [ ]:
# median 

pervious_app['AMT_GOODS_PRICE'].median()

Observations: 

- median is 112320
- mode is 45000
- Mean value is 227847.28

Since missing percentage value is higher i.e 23.08% , it would be better to leave the data as it is and not perform imputations

Analysis of AMT_ANNUITY column

In [ ]:
pervious_app['AMT_ANNUITY'].value_counts()

In [ ]:
pervious_app['AMT_ANNUITY'].describe()

In [ ]:
sns.boxplot(pervious_app.AMT_ANNUITY)
plt.show()

In [ ]:
# mean 

pervious_app.AMT_ANNUITY.mean()

In [ ]:
#mode

pervious_app.AMT_ANNUITY.mode()

In [ ]:
# # median 
pervious_app.AMT_ANNUITY.median()

Observations

-  median is 11250
- mode is 2250
- Mean value is 15955.12


Since missing percentage value is higher i.e 22.29%, it would be better to leave the data as it is and not perform imputations

Analysis of CNT_PAYMENT column

In [ ]:
pervious_app.CNT_PAYMENT.value_counts()

In [ ]:
sns.boxplot(pervious_app.CNT_PAYMENT)
plt.show()

In [ ]:
pervious_app.CNT_PAYMENT.describe()

In [ ]:
# mean 
pervious_app.CNT_PAYMENT.mean()

In [ ]:
# mode
pervious_app.CNT_PAYMENT.mode()

In [ ]:
# median
pervious_app.CNT_PAYMENT.median()

Observations
- mode and  median is 12
- Mean value is 16.05


median and mode are same, since missing percentage value is higher as 22.29%, it would be better to leave the data as it is and not perform imputations

Checking columns with NULL values > 0% and < 1%

In [ ]:
null_df_under1 = null_df[(null_df['null_percentage'] > 0) & (null_df['null_percentage'] < 1)]

null_df_under1

In [ ]:
# null_df[(null_df['null_percentage'] < 40)].shape

Analysis of PRODUCT_COMBINATION column

In [ ]:
pervious_app.shape

In [ ]:
pervious_app['PRODUCT_COMBINATION'].value_counts()

In [ ]:
plt.figure(figsize = (10,8))
sns.countplot(data = pervious_app, x = "PRODUCT_COMBINATION")
plt.xticks(rotation = 90)
plt.show()

Observations

- Cash type has the highest number of loan applicants

Conclusion :  We can impute Cash in the dataframe

In [ ]:
#  Impute Cash values with Unknown category

pervious_app['PRODUCT_COMBINATION'].fillna(value = 'Cash', inplace = True)

In [ ]:
pervious_app['PRODUCT_COMBINATION'].value_counts()

In [ ]:
pervious_app['PRODUCT_COMBINATION'].isnull().sum()

In [ ]:
pervious_app.info()

Analysis of NAME_CASH_LOAN_PURPOSE column

In [ ]:
#Checking range of values

pervious_app['NAME_CASH_LOAN_PURPOSE'].value_counts(normalize=True)*100

Observation : 
    
 -  XAP and XNA don't provide any understanding of Loan purpose, they indicate Not Available / Not Applicable
 - Of all the type, these makes arounf 90% of the data. 
 
 Conclusion : We will leave it as such and not impute anything on the same.

Analysis of DAYS_DECISION column

In [ ]:
pervious_app['DAYS_DECISION'].value_counts()

Observation : We see 2922 unique records ; and all of the values seems -ve 
    
 - Sinces its is used to decribe ->  Relative to current application when was the decision about previous application made
    
    Will convert the values to +ve number

In [ ]:
pervious_app['DAYS_DECISION'] = pervious_app['DAYS_DECISION'].apply(lambda x : -x if x < 0 else x)

In [ ]:
#recheck the values

pervious_app['DAYS_DECISION'].value_counts()

All days are conveted to postive number

Analysis of NAME_PAYMENT_TYPE column

In [ ]:
pervious_app['NAME_PAYMENT_TYPE'].value_counts(normalize=True)*100

Observation : 
   
   - XNA don't provide any understanding of Payment type purpose, they indicate Not Available / Not Applicable
   - Of all the type, these makes arounf 38% of the data. 
    
 Conclusion : We will leave it as such and not impute anything on the same.

In [ ]:
#pervious_app.info()

Analysis of NAME_CONTRACT_STATUS column

In [ ]:
pervious_app['NAME_CONTRACT_TYPE'].value_counts(normalize=True)*100

Observation :

- XNA don't provide any understanding of Contract type purpose, they indicate Not Available / Not Applicable
- Of all the type, these makes arounf 0.02% of the data. 


Conclusion : We will replace this with Majority of the contract type value

In [ ]:
#  Impute Cash loans values with Unknown category

pervious_app['NAME_CONTRACT_TYPE'] = pervious_app['NAME_CONTRACT_TYPE'].replace(['XNA'],'Cash loans')

In [ ]:
pervious_app['NAME_CONTRACT_TYPE'].value_counts(normalize=True)*100

In [ ]:
pervious_app.info()

Analysis of CODE_REJECT_REASON column

In [ ]:
pervious_app['CODE_REJECT_REASON'].value_counts(normalize=True)*100

Observation :

- XAP don't provide any understanding of code reject reason , they indicate Not Available / Not Applicable
- Of all the type, these makes arounf 81% of the data. 


Conclusion : We will leave it as such and not impute anything on the same.

Analysis of NAME_CLIENT_TYPE column

In [ ]:
pervious_app['NAME_CLIENT_TYPE'].value_counts(normalize=True)*100

Observation :

XNA don't provide any understanding of code reject reason , they indicate Not Available / Not Applicable
Of all the type, these makes arounf 0.12% of the data.

Conclusion : We will impute anything on the same with Repeater

In [ ]:
pervious_app['NAME_CLIENT_TYPE'] = pervious_app['NAME_CLIENT_TYPE'].replace(['XNA'],'Repeater')

In [ ]:
pervious_app['NAME_CLIENT_TYPE'].value_counts(normalize=True)*100

In [ ]:
pervious_app.info()

Analysis of NAME_GOODS_CATEGORY column

In [ ]:
pervious_app['NAME_GOODS_CATEGORY'].value_counts(normalize=True)*100

Observation :

XNA don't provide any understanding of goods category , they indicate Not Available / Not Applicable
Of all the type, these makes arounf 56% of the data.

Conclusion : We will leave it as such and not impute anything on the same.

Analysis of  NAME_PORTFOLIO column

In [ ]:
pervious_app['NAME_PORTFOLIO'].value_counts(normalize=True)*100

Observation :

- XNA don't provide any understanding of goods category , they indicate Not Available / Not Applicable
- Of all the type, these makes arounf 22% of the data.

Conclusion : We will leave it as such and not impute anything on the same.

Analysis of CHANNEL_TYPE column

In [ ]:
pervious_app['CHANNEL_TYPE'].value_counts(normalize=True)*100

In [ ]:
pervious_app['CHANNEL_TYPE'].isnull().sum()

Analysis of NAME_SELLER_INDUSTRY column

In [ ]:
pervious_app['NAME_SELLER_INDUSTRY'].value_counts(normalize=True)*100

Observation :

- XNA don't provide any understanding of goods category , they indicate Not Available / Not Applicable
- Of all the type, these makes around 51 % of the data.


Conclusion : We will leave it as such and not impute anything on the same.

In [ ]:
pervious_app.info()

Analysis of NAME_CONTRACT_STATUS column

In [ ]:
pervious_app['NAME_CONTRACT_STATUS'].value_counts(normalize=True)*100

# Analysis on Outliers in the pervious application data set

Analysis of AMT_ANNUITY column

In [ ]:
pervious_app['AMT_ANNUITY'].value_counts().sort_values(ascending = False)

In [ ]:
pervious_app['AMT_ANNUITY'].describe()

In [ ]:
# visualize 

plt.subplots(1,2 ,figsize = (20,8))
plt.subplot(121)

sns.distplot(pervious_app['AMT_ANNUITY'], color = 'purple')
pltname = 'Distplot of ' + 'AMT_ANNUITY'
plt.ticklabel_format(style='plain', axis='x')
plt.title(pltname)

plt.subplot(122)
sns.boxplot(y = pervious_app['AMT_ANNUITY'], data = pervious_app)
pltname = 'Boxplot of ' + 'AMT_ANNUITY'
plt.title(pltname)

plt.tight_layout(pad = 4)
plt.show()

Observation  ,: cananot decide much on the oultier here , 
    
 Calcuate the IQR

In [ ]:
Q1 = pervious_app['AMT_ANNUITY'].quantile(0.25)
Q3 = pervious_app['AMT_ANNUITY'].quantile(0.75)
IQR = Q3 - Q1
print(IQR)


Min_value = (Q1 - 1.5 * IQR)
Max_value = (Q3 + 1.5 * IQR)
print("Min value before which outlier exist: {}".format(Min_value))
print("Max value after which outlier exist: {}".format(Max_value))

Observation : 
    
  - For AMT_ANNUITY values above 42163.38 are outliers


Analysis of AMT_APPLICATION column

In [ ]:
pervious_app['AMT_APPLICATION'].value_counts().sort_values(ascending = False)

In [ ]:
pervious_app['AMT_APPLICATION'].describe()

In [ ]:
# visualize 

plt.subplots(1,2 ,figsize = (20,8))
plt.subplot(121)

sns.distplot(pervious_app['AMT_APPLICATION'], color = 'purple')
pltname = 'Distplot of ' + 'AMT_APPLICATION'
plt.ticklabel_format(style='plain', axis='x')
plt.title(pltname)

plt.subplot(122)
sns.boxplot(y = pervious_app['AMT_APPLICATION'], data = pervious_app)
pltname = 'Boxplot of ' + 'AMT_APPLICATION'
plt.title(pltname)

plt.tight_layout(pad = 4)
plt.show()

In [ ]:
Q1 = pervious_app['AMT_APPLICATION'].quantile(0.25)
Q3 = pervious_app['AMT_APPLICATION'].quantile(0.75)
IQR = Q3 - Q1
print(IQR)

Min_value = (Q1 - 1.5 * IQR)
Max_value = (Q3 + 1.5 * IQR)
print("Min value before which outlier exist: {}".format(Min_value))
print("Max value after which outlier exist: {}".format(Max_value))

Analysis of AMT_CREDIT column

In [ ]:
pervious_app['AMT_CREDIT'].value_counts().sort_values(ascending = False)

In [ ]:
pervious_app['AMT_CREDIT'].describe()

In [ ]:
Q1 = pervious_app['AMT_CREDIT'].quantile(0.25)
Q3 = pervious_app['AMT_CREDIT'].quantile(0.75)
IQR = Q3 - Q1
print(IQR)

Min_value = (Q1 - 1.5 * IQR)
Max_value = (Q3 + 1.5 * IQR)
print("Min value before which outlier exist: {}".format(Min_value))
print("Max value after which outlier exist: {}".format(Max_value))

Observations

- AMT_CREDIT values above 504805.5 are outliers

# Merge datasets application and pervious_app into df_merge

In [ ]:
application.shape

In [ ]:
pervious_app.shape

In [ ]:
df_merge = application.merge(pervious_app, left_on='SK_ID_CURR', right_on='SK_ID_CURR', how='inner')

In [ ]:
df_merge.shape

Observation : 

  - After mergeing ; Now we have 1413701 data points and 106 attributes  / columns

In [ ]:
df_merge

In [ ]:
# structure of data is 

df_merge.info(verbose= True,null_counts = True)

In [ ]:
df_merge.isnull().values.sum()

In [ ]:
# 1. checek for the null value count 
# 2. CAlcaluate the % of missing value 
# 3. Chcek for each column name , what is the number of mmissing value  and its percentage. 


null_count = df_merge.isnull().sum()
null_percentage = round((null_count/df_merge.shape[0])*100, 2)


null_merge = pd.DataFrame({'column_name' : df_merge.columns,'null_count' : null_count,'null_percentage': null_percentage})
null_merge.reset_index(drop = True, inplace = True)

null_merge.sort_values(by = 'null_percentage', ascending = False)

In [ ]:
missing_column = null_merge[null_merge['null_percentage'] > 0 ].column_name.to_list()

missing_column

Obervation : 

We see 3 columns missing values are more than 20% ; So we will not impute or drop these values

categorical variables :

In [ ]:
df_merge.select_dtypes(include = "object").columns

In [ ]:
# total number of categorical variables
len(df_merge.select_dtypes(include = "object").columns)

There are 29 categorical variables

Numeric Varibales :

In [ ]:
df_merge.select_dtypes(include=["int64","float64"]).columns

In [ ]:
# total number of categorical variables
len(df_merge.select_dtypes(include=["int64","float64"]).columns)

There are 76 numerical variables

# Univariate analysis of Merged data set

In [ ]:
df_merge.head()

Analysis of NAME_CONTRACT_STATUS

In [ ]:
df_merge['NAME_CONTRACT_STATUS'].value_counts(normalize=True).sort_values(ascending = False)*100

In [ ]:
#visualize the Name contract status

plt.figure(figsize = [20,8])
palt = sns.color_palette("bright")
    
pltname = 'Analysis of ' + 'NAME_CONTRACT_STATUS'
plt.title(pltname)
sns.countplot(x = df_merge['NAME_CONTRACT_STATUS'], data = df_merge, 
                  order = sorted(df_merge['NAME_CONTRACT_STATUS'].unique(), reverse = True), palette = palt)

plt.xticks(rotation = 90)
plt.tight_layout(pad = 4)
plt.show()

Obseravtion: 
    
  - Approved Loan has highest among all loan applications
  - Cancelled and Refused are almost same among the loan applications
  - Where as Unused Offers are the least among all loan applications

Analysis of NAME_CLIENT_TYPE

In [ ]:
df_merge['NAME_CLIENT_TYPE'].value_counts(normalize=True).sort_values(ascending = False)*100

In [ ]:
#visualize the Name client type

plt.figure(figsize = [20,8])
palt = sns.color_palette("bright")
    
pltname = 'Analysis of ' + 'NAME_CLIENT_TYPE'
plt.title(pltname)
sns.countplot(x = df_merge['NAME_CLIENT_TYPE'], data = df_merge, 
                  order = sorted(df_merge['NAME_CLIENT_TYPE'].unique(), reverse = True), palette = palt)

plt.xticks(rotation = 90)
plt.tight_layout(pad = 4)
plt.show()

Observations

- Repeater applicant type is the highest among all loan applications
- New applicant type is the second highest among all loan applications

Analysis of CHANNEL_TYPE

In [ ]:
df_merge['CHANNEL_TYPE'].value_counts(normalize=True).sort_values(ascending = False)

In [ ]:
#visualize the channel type

plt.figure(figsize = [20,8])
palt = sns.color_palette("bright")
    
pltname = 'Analysis of ' + 'CHANNEL_TYPE'
plt.title(pltname)
sns.countplot(x = df_merge['CHANNEL_TYPE'], data = df_merge, 
                  order = sorted(df_merge['CHANNEL_TYPE'].unique(), reverse = True), palette = palt)

plt.xticks(rotation = 90)
plt.tight_layout(pad = 4)
plt.show()

Observations

- Credit and cash offices type is the highest among all loan applications
- Country-wide type is the second highest Channel Type among all loan applications
- Least Channel Type among all loan applications is Car dealer

Analysis of NAME_YIELD_GROUP

In [ ]:
df_merge['NAME_YIELD_GROUP'].value_counts(normalize=True).sort_values(ascending = False)*100

In [ ]:
#visualize the channel type

plt.figure(figsize = [20,8])
palt = sns.color_palette("bright")
    
pltname = 'Analysis of ' + 'NAME_YIELD_GROUP'
plt.title(pltname)
sns.countplot(x = df_merge['NAME_YIELD_GROUP'], data = df_merge, 
                  order = sorted(df_merge['NAME_YIELD_GROUP'].unique(), reverse = True), palette = palt)

plt.xticks(rotation = 90)
plt.tight_layout(pad = 4)
plt.show()

Observations on Grouped Interest Rate : 

- middle and high interest rates are the second and third highest among all loan applications
- XNA - Not applicable is the highest among all loan applications

Analysis of NAME_GOODS_CATEGORY

In [ ]:
df_merge['NAME_GOODS_CATEGORY'].value_counts(normalize=True)*100

In [ ]:
#visualize the goods category 

plt.figure(figsize = [20,8])
palt = sns.color_palette("bright")
    
pltname = 'Analysis of ' + 'NAME_GOODS_CATEGORY'
plt.title(pltname)
sns.countplot(x = df_merge['NAME_GOODS_CATEGORY'], data = df_merge, 
                  order = sorted(df_merge['NAME_GOODS_CATEGORY'].unique(), reverse = True), palette = palt)

plt.xticks(rotation = 90)
plt.tight_layout(pad = 4)
plt.show()

Observations : 

- XNA goods category is the highest among all loan applications
- mobile goods categoryis the second highest among all loan applications
- followed by Computer electronics , computer and audo/ video category

In [ ]:

df_merge.info(verbose= True)

Analysis of NAME_EDUCATION_TYPE column

In [ ]:
df_merge['NAME_EDUCATION_TYPE'].value_counts(normalize=True)*100

In [ ]:
#visualize the education type 

plt.figure(figsize = [20,8])
palt = sns.color_palette("bright")
    
pltname = 'Analysis of ' + 'NAME_EDUCATION_TYPE'
plt.title(pltname)
sns.countplot(x = df_merge['NAME_EDUCATION_TYPE'], data = df_merge, 
                  order = sorted(df_merge['NAME_EDUCATION_TYPE'].unique(), reverse = True), palette = palt)

plt.xticks(rotation = 90)
plt.tight_layout(pad = 4)
plt.show()

Observation : 
    
  - Secondary / secondary special education type are the highestamong all the loan applicants
  - followed by Higher education

univerate Analysis of AMT_ANNUITY_y

In [ ]:
Q1 = df_merge['AMT_ANNUITY_y'].quantile(0.25)
Q3 = df_merge['AMT_ANNUITY_y'].quantile(0.75)
IQR = Q3 - Q1
print(IQR)


Min_value = (Q1 - 1.5 * IQR)
Max_value = (Q3 + 1.5 * IQR)
print("Min value before which outlier exist: {}".format(Min_value))
print("Max value after which outlier exist: {}".format(Max_value))

In [ ]:
# remove outlier and observe the visualization 

plt.figure(figsize = [20,8])
sns.distplot(df_merge[df_merge['AMT_ANNUITY_y'] <= Max_value].AMT_ANNUITY_y, hist=True)
plt.ticklabel_format(style='plain', axis='x')
plt.xticks(rotation = 45)
plt.show()

Observations on Annuity of previous application : 

- Most of the previous loan's annuity from the applicants is less than 10,000 as the distribution is high here.
- the no. of applicnats decreases, as previous loan's annuity increases

Univaraite Analysis  on AMT_APPLICATION :

In [ ]:
Q1 = df_merge['AMT_APPLICATION'].quantile(0.25)
Q3 = df_merge['AMT_APPLICATION'].quantile(0.75)
IQR = Q3 - Q1
print(IQR)

Min_value = (Q1 - 1.5 * IQR)
Max_value = (Q3 + 1.5 * IQR)
print("Min value before which outlier exist: {}".format(Min_value))
print("Max value after which outlier exist: {}".format(Max_value))

In [ ]:
# Remove outliers and plot distplot

plt.figure(figsize = [20,8])
sns.distplot(df_merge[df_merge['AMT_APPLICATION'] <= Max_value].AMT_APPLICATION, hist=True)
plt.ticklabel_format(style='plain', axis='x')
plt.xticks(rotation = 45)
plt.show()

Observations  on how much credit did applcants ask on the previous application

- Most of the loan amount applied by the applicnats initially looks to be very small as can be seen from the huge spike at the beginning of the distribution.
- the no. of applicants decreases based on the credit asked on the perivous applications

 Univariate Analysis of AMT_CREDIT_y :

In [ ]:
# looks for oulier here 

Q1 = df_merge['AMT_CREDIT_y'].quantile(0.25)
Q3 = df_merge['AMT_CREDIT_y'].quantile(0.75)
IQR = Q3 - Q1
print(IQR)

Min_value = (Q1 - 1.5 * IQR)
Max_value = (Q3 + 1.5 * IQR)
print("Min value before which outlier exist: {}".format(Min_value))
print("Max value after which outlier exist: {}".format(Max_value))

In [ ]:
plt.figure(figsize = [20,8])
sns.distplot(df_merge[df_merge['AMT_CREDIT_y'] <= Max_value].AMT_CREDIT_y, hist=True)
plt.ticklabel_format(style='plain', axis='x')
plt.xticks(rotation = 45)
plt.show()

Observation on Final credit amount on the previous application : 
    
  - The distribution is very closely resambles the AMT_APPLICATION.
  - Means the most of the applicants where provided the same loan amount has applied for.

Univaraite Analysis of AMT_GOODS_PRICE_y

In [ ]:
# look for the outliers 


Q1 = df_merge['AMT_GOODS_PRICE_y'].quantile(0.25)
Q3 = df_merge['AMT_GOODS_PRICE_y'].quantile(0.75)
IQR = Q3 - Q1
print(IQR)

Min_value = (Q1 - 1.5 * IQR)
Max_value = (Q3 + 1.5 * IQR)
print("Min value before which outlier exist: {}".format(Min_value))
print("Max value after which outlier exist: {}".format(Max_value))

In [ ]:
# Remove outliers and plot distplot

plt.figure(figsize = [20,8])
sns.distplot(df_merge[df_merge['AMT_GOODS_PRICE_y'] <= Max_value].AMT_GOODS_PRICE_y, hist=True)
plt.ticklabel_format(style='plain', axis='x')
plt.xticks(rotation = 45)
plt.show()

Observation of Goods price of good that applicants asked for (if applicable) on the previous application : 
    
  - The distribution some what resambles the AMT_ANNUITY_y.
  - Means , most of the loan applicants falls under the good price below 100000.

Univaraite Analysis of CNT_PAYMENT

In [ ]:
# look for the outliers 


Q1 = df_merge['CNT_PAYMENT'].quantile(0.25)
Q3 = df_merge['CNT_PAYMENT'].quantile(0.75)
IQR = Q3 - Q1
print(IQR)

Min_value = (Q1 - 1.5 * IQR)
Max_value = (Q3 + 1.5 * IQR)
print("Min value before which outlier exist: {}".format(Min_value))
print("Max value after which outlier exist: {}".format(Max_value))

In [ ]:
# Remove outliers and plot distplot

plt.figure(figsize = [20,8])
sns.distplot(df_merge[df_merge['CNT_PAYMENT'] <= Max_value].CNT_PAYMENT, hist=True)
plt.ticklabel_format(style='plain', axis='x')
plt.xticks(rotation = 45)
plt.show()

Obseravtion of previous credit at application of the previous application : 
    
  - Donot get much insight from this though

In [ ]:
df_merge.info(verbose=True)

# Bivariate/Multivariate analysis

Analysis of AMT_ANNUITY_y V/S AMT_CREDIT_y V/S NAME_CONTRACT_STATUS

In [ ]:
# Outlier identification of AMT_ANNUITY_y


Q1 = df_merge['AMT_ANNUITY_y'].quantile(0.25)
Q3 = df_merge['AMT_ANNUITY_y'].quantile(0.75)
IQR = Q3 - Q1
print(IQR)

Min_value_ANNUITY_y = (Q1 - 1.5 * IQR)
Max_value_ANNUITY_y = (Q3 + 1.5 * IQR)
print("Min value before which outlier exist: {}".format(Min_value_ANNUITY_y))
print("Max value after which outlier exist: {}".format(Max_value_ANNUITY_y))

In [ ]:
# Outlier identification of AMT_CREDIT_y

Q1 = df_merge['AMT_CREDIT_y'].quantile(0.25)
Q3 = df_merge['AMT_CREDIT_y'].quantile(0.75)
IQR = Q3 - Q1
print(IQR)

Min_value_CREDIT_y = (Q1 - 1.5 * IQR)
Max_value_CREDIT_y = (Q3 + 1.5 * IQR)
print("Min value before which outlier exist: {}".format(Min_value_CREDIT_y))
print("Max value after which outlier exist: {}".format(Max_value_CREDIT_y))

In [ ]:


# plot the scatter plot

In [ ]:

plt.figure(figsize = [20,8])

sns.scatterplot(x = df_merge[df_merge['AMT_ANNUITY_y'] < Max_value_ANNUITY_y].AMT_ANNUITY_y, 
                y = df_merge[df_merge['AMT_CREDIT_y'] < Max_value_CREDIT_y].AMT_CREDIT_y,
                data = df_merge,hue = 'NAME_CONTRACT_STATUS')
plt.ticklabel_format(style='plain', axis='x')
plt.ticklabel_format(style='plain', axis='y')

plt.tight_layout(pad = 4)
plt.show()

Observations : 

- Between the Annuity 10K and 20 K - we see a lot of "Refused" Contract status - This can be because  higher the credit amount , applicant should also have higher annuity from pervious application 

- As the Annuity increases , we see "Refused"contract staus has reduced. 


- "Unsed Offer" staus is not seen Between the Annuity 10K and 20 K

Analysis of AMT_GOODS_PRICE_y V/S AMT_CREDIT_y V/S NAME_CONTRACT_STATUS

In [ ]:
# Outlier identification of AMT_GOODS_PRICE_y


Q1 = df_merge['AMT_GOODS_PRICE_y'].quantile(0.25)
Q3 = df_merge['AMT_GOODS_PRICE_y'].quantile(0.75)
IQR = Q3 - Q1
print(IQR)

Min_value_AMT_GOODS_PRICE_y = (Q1 - 1.5 * IQR)
Max_value_AMT_GOODS_PRICE_y = (Q3 + 1.5 * IQR)
print("Min value before which outlier exist: {}".format(Min_value_AMT_GOODS_PRICE_y))
print("Max value after which outlier exist: {}".format(Max_value_AMT_GOODS_PRICE_y))

In [ ]:
# Outlier identification of AMT_CREDIT_y

Q1 = df_merge['AMT_CREDIT_y'].quantile(0.25)
Q3 = df_merge['AMT_CREDIT_y'].quantile(0.75)
IQR = Q3 - Q1
print(IQR)

Min_value_CREDIT_y = (Q1 - 1.5 * IQR)
Max_value_CREDIT_y = (Q3 + 1.5 * IQR)
print("Min value before which outlier exist: {}".format(Min_value_CREDIT_y))
print("Max value after which outlier exist: {}".format(Max_value_CREDIT_y))

In [ ]:
# plot the scatter plot for analysis

plt.figure(figsize = [20,8])

sns.scatterplot(x = df_merge[df_merge['AMT_GOODS_PRICE_y'] < Max_value_AMT_GOODS_PRICE_y].AMT_GOODS_PRICE_y, 
                y = df_merge[df_merge['AMT_CREDIT_y'] < Max_value_CREDIT_y].AMT_CREDIT_y,
                data = df_merge,hue = 'NAME_CONTRACT_STATUS')
plt.ticklabel_format(style='plain', axis='x')
plt.ticklabel_format(style='plain', axis='y')

plt.tight_layout(pad = 4)
plt.show()

Observation : 
    
  - Between the Goodd price 200K and 300 K - we see a lot of "Refused" Contract status

Analysis of AMT_APPLICATION V/S AMT_GOODS_PRICE_y V/S NAME_CONTRACT_STATUS

In [ ]:
# Outlier identification of AMT_GOODS_PRICE_y


Q1 = df_merge['AMT_GOODS_PRICE_y'].quantile(0.25)
Q3 = df_merge['AMT_GOODS_PRICE_y'].quantile(0.75)
IQR = Q3 - Q1
print(IQR)

Min_value_AMT_GOODS_PRICE_y = (Q1 - 1.5 * IQR)
Max_value_AMT_GOODS_PRICE_y = (Q3 + 1.5 * IQR)
print("Min value before which outlier exist: {}".format(Min_value_AMT_GOODS_PRICE_y))
print("Max value after which outlier exist: {}".format(Max_value_AMT_GOODS_PRICE_y))

In [ ]:
# Outlier identification of AMT_APPLICATION


Q1 = df_merge['AMT_APPLICATION'].quantile(0.25)
Q3 = df_merge['AMT_APPLICATION'].quantile(0.75)
IQR = Q3 - Q1
print(IQR)

Min_value_AMT_APPLICATION = (Q1 - 1.5 * IQR)
Max_value_AMT_APPLICATION = (Q3 + 1.5 * IQR)
print("Min value before which outlier exist: {}".format(Min_value_AMT_APPLICATION))
print("Max value after which outlier exist: {}".format(Max_value_AMT_APPLICATION))

In [ ]:
# plot the scatter plot for analysis

plt.figure(figsize = [20,8])

sns.scatterplot(x = df_merge[df_merge['AMT_GOODS_PRICE_y'] < Max_value_AMT_GOODS_PRICE_y].AMT_GOODS_PRICE_y, 
                y = df_merge[df_merge['AMT_APPLICATION'] < Max_value_AMT_APPLICATION].AMT_APPLICATION,
                data = df_merge,hue = 'NAME_CONTRACT_STATUS')
plt.ticklabel_format(style='plain', axis='x')
plt.ticklabel_format(style='plain', axis='y')

plt.tight_layout(pad = 4)
plt.show()

Observations

- AMT_APPLICATION has strong positive correlation with AMT_GOOD_PRICE_Y . Linear in nature

Analysis of AMT_APPLICATION V/S AMT_CREDIT_y V/S NAME_CONTRACT_STATUS

In [ ]:
# Outlier identification of AMT_APPLICATION


Q1 = df_merge['AMT_APPLICATION'].quantile(0.25)
Q3 = df_merge['AMT_APPLICATION'].quantile(0.75)
IQR = Q3 - Q1
print(IQR)

Min_value_AMT_APPLICATION = (Q1 - 1.5 * IQR)
Max_value_AMT_APPLICATION = (Q3 + 1.5 * IQR)
print("Min value before which outlier exist: {}".format(Min_value_AMT_APPLICATION))
print("Max value after which outlier exist: {}".format(Max_value_AMT_APPLICATION))

In [ ]:
# Outlier identification of AMT_CREDIT_y

Q1 = df_merge['AMT_CREDIT_y'].quantile(0.25)
Q3 = df_merge['AMT_CREDIT_y'].quantile(0.75)
IQR = Q3 - Q1
print(IQR)

Min_value_CREDIT_y = (Q1 - 1.5 * IQR)
Max_value_CREDIT_y = (Q3 + 1.5 * IQR)
print("Min value before which outlier exist: {}".format(Min_value_CREDIT_y))
print("Max value after which outlier exist: {}".format(Max_value_CREDIT_y))

In [ ]:
plt.figure(figsize = [20,8])

sns.scatterplot(x = df_merge[df_merge['AMT_APPLICATION'] < Max_value_AMT_APPLICATION].AMT_APPLICATION, 
                y = df_merge[df_merge['AMT_CREDIT_y'] < Max_value_CREDIT_y].AMT_CREDIT_y,
                data = df_merge,hue = 'NAME_CONTRACT_STATUS')
plt.ticklabel_format(style='plain', axis='x')
plt.ticklabel_format(style='plain', axis='y')

plt.tight_layout(pad = 4)
plt.show()

Analysis of NAME_CONTRACT_STATUS V/S AMT_CREDIT_y V/S CODE_GENDER

In [ ]:
# Outlier identification of AMT_CREDIT_y

Q1 = df_merge['AMT_CREDIT_y'].quantile(0.25)
Q3 = df_merge['AMT_CREDIT_y'].quantile(0.75)
IQR = Q3 - Q1
print(IQR)

Min_value_CREDIT_y = (Q1 - 1.5 * IQR)
Max_value_CREDIT_y = (Q3 + 1.5 * IQR)
print("Min value before which outlier exist: {}".format(Min_value_CREDIT_y))
print("Max value after which outlier exist: {}".format(Max_value_CREDIT_y))

In [ ]:
# Group by the categorical varibale with numeric varibale 

df_merge.groupby(by = ['NAME_CONTRACT_STATUS','CODE_GENDER']).AMT_CREDIT_y.describe()

In [ ]:
plt.figure(figsize = [20,12])


sns.boxplot(x = df_merge['NAME_CONTRACT_STATUS'], 
                y = df_merge[df_merge['AMT_CREDIT_y'] < Max_value_CREDIT_y]['AMT_CREDIT_y'], 
                data = df_merge, 
                order = sorted(df_merge['NAME_CONTRACT_STATUS'].unique(), reverse = True),
                hue = df_merge['CODE_GENDER'], hue_order = sorted(df_merge['CODE_GENDER'].unique(), reverse = True))

plt.ticklabel_format(style='plain', axis='y')
plt.xticks(rotation=90)

plt.tight_layout(pad = 4)
plt.show()

Obervation : 
    
  - Applicants who are Female; have been refused to apply; having higher median credit amount than Male
  - Applicants who are Female; have been Approved ; having higher median creidt amonth than Male - though there is a sight upper hand on Female compared to Male

Analysis of NAME_CONTRACT_STATUS V/S AMT_ANNUITY_y V/S CODE_GENDER

In [ ]:
# Outlier identification of AMT_ANNUITY_y


Q1 = df_merge['AMT_ANNUITY_y'].quantile(0.25)
Q3 = df_merge['AMT_ANNUITY_y'].quantile(0.75)
IQR = Q3 - Q1
print(IQR)

Min_value_ANNUITY_y = (Q1 - 1.5 * IQR)
Max_value_ANNUITY_y = (Q3 + 1.5 * IQR)
print("Min value before which outlier exist: {}".format(Min_value_ANNUITY_y))
print("Max value after which outlier exist: {}".format(Max_value_ANNUITY_y))

In [ ]:
# Group by the categorical varibale with numeric varibale 

df_merge.groupby(by = ['NAME_CONTRACT_STATUS','CODE_GENDER']).AMT_CREDIT_y.describe()

In [ ]:
plt.figure(figsize = [20,12])


sns.boxplot(x = df_merge['NAME_CONTRACT_STATUS'], 
                y = df_merge[df_merge['AMT_ANNUITY_y'] < Max_value_ANNUITY_y]['AMT_ANNUITY_y'], 
                data = df_merge, 
                order = sorted(df_merge['NAME_CONTRACT_STATUS'].unique(), reverse = True),
                hue = df_merge['CODE_GENDER'], hue_order = sorted(df_merge['CODE_GENDER'].unique(), reverse = True))

plt.ticklabel_format(style='plain', axis='y')
plt.xticks(rotation=90)

plt.tight_layout(pad = 4)
plt.show()

Observations

 - Applicants  who are Male ; have been Cancelled paid of ; having higher median Annuity than Female
 - Applicants who are Female ; have been Refused of ; havinf paid higher median Annuity than Male

Analysis of NAME_CONTRACT_STATUS V/S AMT_CREDIT_y V/S NAME_PORTFOLIO

In [ ]:
# Outlier identification of AMT_CREDIT_y

Q1 = df_merge['AMT_CREDIT_y'].quantile(0.25)
Q3 = df_merge['AMT_CREDIT_y'].quantile(0.75)
IQR = Q3 - Q1
print(IQR)

Min_value_CREDIT_y = (Q1 - 1.5 * IQR)
Max_value_CREDIT_y = (Q3 + 1.5 * IQR)
print("Min value before which outlier exist: {}".format(Min_value_CREDIT_y))
print("Max value after which outlier exist: {}".format(Max_value_CREDIT_y))

In [ ]:
df_merge.groupby(by = ['NAME_PORTFOLIO','NAME_CONTRACT_STATUS']).AMT_CREDIT_y.describe().head()

In [ ]:
plt.figure(figsize = [20,12])


sns.boxplot(x = df_merge['NAME_CONTRACT_STATUS'], 
                y = df_merge[df_merge['AMT_CREDIT_y'] < Max_value_CREDIT_y]['AMT_CREDIT_y'], 
                data = df_merge, 
                order = sorted(df_merge['NAME_CONTRACT_STATUS'].unique(), reverse = True),
                hue = df_merge['NAME_PORTFOLIO'], hue_order = sorted(df_merge['NAME_PORTFOLIO'].unique(), reverse = True))

plt.ticklabel_format(style='plain', axis='y')
plt.xticks(rotation=90)

plt.tight_layout(pad = 4)
plt.show()

Observations

- Applicants who have Unused offer receive more median credit in POS type and there are no Cash / CArs/ Cards type
- Applicants who are Refused and Cancelled receive more median credit in Cash portfolio
- Applicants who are Approved receive more median credit in Cars portfolio

Analysis of AGE_CATEGORY V/S NAME_CONTRACT_STATUS

In [ ]:
plt.figure(figsize = [20,8])
palt = sns.color_palette("bright")

    
sns.countplot(x = df_merge['AGE_CATEGORY'], data = df_merge, 
                  order = sorted(df_merge['AGE_CATEGORY'].unique()), 
                  palette = palt,
                  hue = df_merge['NAME_CONTRACT_STATUS'], 
                  hue_order = sorted(df_merge['NAME_CONTRACT_STATUS'].unique(), reverse = True))
plt.xticks(rotation = 90)

plt.tight_layout(pad = 4)
plt.show()

Observations:

- Applicants who are in the age range 30-40 get most approval followed by applicants in 40-50 age range
- Applicants who are in the age range 60-70 gets least approval followed by 20-30 age range

- Applicants who are in the age range between 40-50 and 50-60 age range have a same ratio of "Refused " and "Canceled"
- Applicants who are in the age range 20-30 gets least "Refused" followed by agr range  60-70

Analysis of NAME_FAMILY_STATUS V/S NAME_CONTRACT_STATUS

In [ ]:
plt.figure(figsize = [20,8])
palt = sns.color_palette("bright")

    
sns.countplot(x = df_merge['NAME_FAMILY_STATUS'], data = df_merge, 
                  order = sorted(df_merge['NAME_FAMILY_STATUS'].unique()), 
                  palette = palt,
                  hue = df_merge['NAME_CONTRACT_STATUS'], 
                  hue_order = sorted(df_merge['NAME_CONTRACT_STATUS'].unique(), reverse = True))
plt.xticks(rotation = 90)

plt.tight_layout(pad = 4)
plt.show()

Observations

- Applicants who are Married receive the most approvals
- Applicants who are Widow receive the least approvals followed by Sepearted 
    Same goes for "Refusal" and"Cancelled" types

Analysis of NAME_EDUCATION_TYPE V/S NAME_CONTRACT_STATUS

In [ ]:
plt.figure(figsize = [20,8])
palt = sns.color_palette("bright")

    
sns.countplot(x = df_merge['NAME_EDUCATION_TYPE'], data = df_merge, 
                  order = sorted(df_merge['NAME_EDUCATION_TYPE'].unique()), 
                  palette = palt,
                  hue = df_merge['NAME_CONTRACT_STATUS'], 
                  hue_order = sorted(df_merge['NAME_CONTRACT_STATUS'].unique(), reverse = True))
plt.xticks(rotation = 90)

plt.tight_layout(pad = 4)
plt.show()

Observations

- applicants who have Secondary/secondary special receive the most approvals followed by Higher education 
- Applicants who have Academic degree reccives the least approval

Analysis of NAME_CLIENT_TYPE V/S NAME_CONTRACT_STATUS

In [ ]:
plt.figure(figsize = [20,8])
palt = sns.color_palette("bright")

    
sns.countplot(x = df_merge['NAME_CLIENT_TYPE'], data = df_merge, 
                  order = sorted(df_merge['NAME_CLIENT_TYPE'].unique()), 
                  palette = palt,
                  hue = df_merge['NAME_CONTRACT_STATUS'], 
                  hue_order = sorted(df_merge['NAME_CONTRACT_STATUS'].unique(), reverse = True))
plt.xticks(rotation = 90)

plt.tight_layout(pad = 4)
plt.show()

Observations

- Applicants who are Repeaters receive the most approvals followed by New
- Applicants who are New receive the least approvals.

Analysis of OCCUPATION_TYPE V/S NAME_CONTRACT_STATUS

In [ ]:
plt.figure(figsize = [20,8])
palt = sns.color_palette("bright")

    
sns.countplot(x = df_merge['OCCUPATION_TYPE'], data = df_merge, 
                  order = sorted(df_merge['OCCUPATION_TYPE'].unique()), 
                  palette = palt,
                  hue = df_merge['NAME_CONTRACT_STATUS'], 
                  hue_order = sorted(df_merge['NAME_CONTRACT_STATUS'].unique(), reverse = True))
plt.xticks(rotation = 90)

plt.tight_layout(pad = 4)
plt.show()

Obervation : 

  - Laborers occuption type have been Approved Loan followed by Sales and Core staff.

Analysis of ORGANISATION_TYPE V/S NAME_CONTRACT_STATUS

In [ ]:
plt.figure(figsize = [20,8])
palt = sns.color_palette("bright")

    
sns.countplot(x = df_merge['ORGANIZATION_TYPE'], data = df_merge, 
                  order = sorted(df_merge['ORGANIZATION_TYPE'].unique()), 
                  palette = palt,
                  hue = df_merge['NAME_CONTRACT_STATUS'], 
                  hue_order = sorted(df_merge['NAME_CONTRACT_STATUS'].unique(), reverse = True))
plt.xticks(rotation = 90)

plt.tight_layout(pad = 4)
plt.show()

Observation : 
    
    
  - Business Entity Type 3 is been most approved , followed by Self Employed

In [ ]:
plt.figure(figsize = [20,8])
palt = sns.color_palette("bright")

    
sns.countplot(x = df_merge['YEAR_EMPLOYED'], data = df_merge, 
                  order = sorted(df_merge['YEAR_EMPLOYED'].unique()), 
                  palette = palt,
                  hue = df_merge['NAME_CONTRACT_STATUS'], 
                  hue_order = sorted(df_merge['NAME_CONTRACT_STATUS'].unique(), reverse = True))
plt.xticks(rotation = 90)

plt.tight_layout(pad = 4)
plt.show()

Plot correlation matrix for numeric varibales

In [ ]:
corr_df = df_merge[['AMT_ANNUITY_x', 'AMT_APPLICATION','AMT_CREDIT_x', 'AMT_GOODS_PRICE_x',
                    'AMT_ANNUITY_y', 'AMT_CREDIT_y', 'AMT_GOODS_PRICE_y', 'CNT_PAYMENT']].corr()

corr_df

In [ ]:
# plt the heat map 

plt.figure(figsize = (20,8))
sns.heatmap(data = corr_df[(corr_df >= 0.8) & (corr_df < 0.99)], annot = True, cmap = "RdYlGn", cbar = True, fmt='.2f')
plt.show()

In [ ]:
# get the top 6 correlated variables 


corr_df[corr_df <= 0.99].unstack().sort_values(ascending = False).head(15)

Top 6 Hihgly co related varibales are :



1. AMT_GOODS_PRICE_x  , AMT_CREDIT_x having the correlation value has 0.99
2. AMT_CREDIT_y  ,  AMT_APPLICATION having the correlation value has 0.98
3. AMT_ANNUITY_y , AMT_GOODS_PRICE_y having the correlation value has 0.82
4. AMT_CREDIT_y  , AMT_ANNUITY_y  having the correlation value has 0.82
5. AMT_APPLICATION ,  AMT_ANNUITY_y having the correlation value has 0.81
6. AMT_GOODS_PRICE_x ,  AMT_ANNUITY_x having the correlation value has 0.73
7. AMT_CREDIT_x , AMT_ANNUITY_x  having the correlation value has 0.73




From the over all EDA below are the few points which we can conclude :

- Applicant to be targeted while providing loans are:

    1. Applicants who are employed for more than 7 years are on time payers ; where has more approval rate of appicants who        are employed leass thn 7 years. 
    2. Applicants in the age range 30-40 and 40-50
    3. Aplicants who are Married
    4. Applicants who are Repeaters 
    5. Applicants who have done Secondary/secondary special education type
    6. Applicants who are from Business Entity Type 3 organisations 
    7. Male applicants with Academic Degree always pay the loan on-time
    8. Studnts and Businessman seems to be an attractive category to give loans to , since they pay on time 
    

-  Applicants that needs to be avoided while processing the loans are:

    1. Applicants who are employed for less than 7 years are having paymnet diffuclties ; where has more approval rate of          appicants who are employed leass thn 7 years. 
    2. Applicants who are in the age range 20-30 gets least "Refused" followed by age range 60-70